
<%- include('partials/header.ejs'); %>

<%
	let CAN_ADMIN = false;
	if ( is_admin ) {
		CAN_ADMIN = true;
	}
	if ( match.league === 3 && is_combines_admin ) {
		CAN_ADMIN = true;
	} else if ( match.league === 2 && is_combines_admin_2s ) {
		CAN_ADMIN = true;
	}

	const submitted_scores = {
		home: null,
		away: null,
	};

	const lobby = {};
	for ( let i = 0; i < match.players.home.length; ++i ) {
		const p = match.players.home[i];
		lobby[p.rsc_id] = p;
	}
	for ( let i = 0; i < match.players.away.length; ++i ) {
		const p = match.players.away[i];
		lobby[p.rsc_id] = p;
	}

	if ( match.reported_rsc_id ) {
		if ( match.reported_rsc_id in lobby ) {
			submitted_scores.home = match.reported_rsc_id;
		}
	}
	if ( match.confirmed_rsc_id ) {
		if ( match.confirmed_rsc_id in lobby ) {
			submitted_scores.away = match.confirmed_rsc_id;
		}
	}

	const has_scored = (match.reported_rsc_id && match.confirmed_rsc_id) ? true : false;
	const can_report = CAN_ADMIN || user.rsc_id in lobby ? true : false;
	const combine_player = user.rsc_id in lobby ? lobby[user.rsc_id] : {};

	const teamOneMmr = match.home_mmr;
	const teamTwoMmr = match.away_mmr;
	const homeDelta  = teamOneMmr - teamTwoMmr;
	const homeDeltaAbs = Math.abs(homeDelta);

	let CAN_VIEW_SELF = false;
	let CAN_VIEW_ALL  = false;

	if ( combines.public_numbers ) {
		if ( user && user?.combines?.view_mmr?.self ) {
			CAN_VIEW_SELF = true;
		}
		if ( user && user?.combines?.view_mmr?.all ) {
			CAN_VIEW_ALL = true;
		}
	}

	if ( CAN_ADMIN ) {
		CAN_VIEW_SELF = true;
		CAN_VIEW_ALL = true;
	}
%>

<script type="text/javascript">
	setTimeout(check_url_params, 100);
	function check_url_params() {
		const params = Object.fromEntries(new URLSearchParams(window.location.search).entries());
		if ( params ) {
			if ( 'finished' in params ) {
				setTimeout(function() { window.location.href = window.location.origin; }, 2000);
			} else if ( 'reported'  in params ) {
				setTimeout(function() { window.location.href = window.location.origin + window.location.pathname; }, 5000);
			}
		}
	}
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
</svg>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<main class="container-fluid bg-dark mt-2 p-2">
	<div class="bg-dark p-2 rounded">
		<h1>
		Combine Match Info
		<img
			src="/icons/<%- match.tier.toLowerCase(); %>.png"
			title="<%- match.tier; %>"
			height="48"
			alt="<%- match.tier; %> icon"
		>
		</h1>
		<p class="lead">
			Please find the lobby information provided below. If you have any questions or problems, please ask for help
			in <a href="https://discord.com/channels/395806681994493964/1220034175835312228">#combines-help</a>.
		</p>

		<div class="row">
			
			<div class="col-12">
				<div class="bg-dark text-light p-2 rounded border-rounded">
					<p class="lead">This is a <strong>3-game</strong> series.</p>
					<div class="row">
						<div class="col-md-4 col-12">
							<table class="table table-dark">
								<thead>
									<tr>
										<th colspan="2">
											Lobby Info
											<img
												src="/icons/<%- match.tier.toLowerCase(); %>.png"
												title="<%- match.tier; %>"
												height="16"
												alt="<%- match.tier; %> icon"
											>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-end">Match:</td>	
										<td>
											<strong>
												<%- match.cancelled ? 'cancelled' : match.completed ? 'completed' : 'active'; %>
											</strong>
										</td>	
									</tr>
									<tr>
										<td class="text-end">Username:</td>	
										<td>
											<strong><code class="h4">
												<%- user.rsc_id ? match.lobby_user : '<em>not shown</em>'; %>
											</code></strong>
										</td>	
									</tr>
									<tr>
										<td class="text-end">Password:</td>	
										<td>
											<strong><code class="h4">
												<%- user.rsc_id ? match.lobby_pass : '<em>not shown</em>'; %>
											</code></strong>
										</td>	
									</tr>
									<tr>
										<td class="text-start">URL:</td>	
										<td>
											<button
												class="btn btn-outline-light copy-to-clipboard"
												type="button"
												id="copy_url_to_clipboard"
												data-copy="https://devleague.rscna.com/combine/<%- match.id; %>"
												title="<h6>Copy URL to Clipboard</h6>"
												data-copy-success="copy-msg"
												data-bs-toggle="tooltip"
												data-bs-html="true"
											>
												<i class="fas fa-copy"></i>
												<span id="copy-msg" class="ms-2 hidden text-black">Copied!</span>
											</button>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<strong><code
												class="h6 copy-to-clipboard"
												data-copy="https://devleague.rscna.com/combine/<%- match.id; %>"
												data-copy-success="copy-msg-2"
											>
												https://devleague.rscna.com/combine/<%- match.id; %> <span id="copy-msg-2" class="ms-2 hidden Elite">Copied!</span>
											</code></strong>
										</td>	
									</tr>
								</tbody>
							</table>
						</div>
						<% 
							if ( CAN_ADMIN ) {

								const prediction = [];
								let win_prediction = homeDelta > 0 ? 'Home' : 'Away';
								let win_class = homeDelta > 0 ? 'bg-Elite' : 'bg-Prospect';

								let magnitude = '';
								if ( homeDeltaAbs >= 5 && homeDeltaAbs < 10 ) {
									magnitude = 'slight';
								} else if ( homeDeltaAbs >= 10 && homeDeltaAbs < 20 ) {
									magnitude = 'large';
								} else if ( homeDeltaAbs >= 20 && homeDeltaAbs <= 40 ) {
									magnitude = 'massive';
								} else if ( homeDeltaAbs >= 40 ) {
									magnitude = 'overwhelming';
								}

								if ( ! magnitude ) {
									win_class = 'bg-secondary';
									win_prediction = 'even';
									magnitude = 'even';
								}
						%>
						<div class="col-md-4 col-12">
							<table class="table table-dark">
								<thead>
									<tr>
										<th colspan="3">
											<i class="fas fa-lock"></i> 
											Admin Details
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-end">MMR Delta:</td>	
										<td colspan="2">
											<strong>
												Home 
												<%- match.home_mmr - match.away_mmr; %>
											</strong>
										</td>	
									</tr>
									<tr>
										<td class="text-end">
											Reported:
										</td>	
										<td colspan="2">
											<strong>
												<a href="/combine/matches/<%- match.reported_rsc_id; %>">
													<%- match.reported_rsc_id in lobby ? 
														lobby[match.reported_rsc_id].name : match.reported_rsc_id; %>
												</a>
											</strong>
										</td>	
									</tr>
									<tr>
										<td class="text-end">Confirmed:</td>	
										<td colspan="2">
											<strong>
												<a href="/combine/matches/<%- match.confirmed_rsc_id; %>">
													<%- match.confirmed_rsc_id in lobby ? 
														lobby[match.confirmed_rsc_id].name : match.confirmed_rsc_id; %>
												</a>
											</strong>
										</td>	
									</tr>
									<tr>
										<td class="text-end">
											Predicted:
										</td>
										<td class="<%- win_class; %> fw-bold">
											<%- win_prediction; %> 
										</td>
										<td class="fw-bold fst-italic">
											<%- magnitude; %>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
							<%
								}
							%>
					</div>
					<% if ( ! has_scored ) { %>

					<h3 class="text-center bg-danger bg-opacity-50 p-2">BOTH TEAMS MUST REPORT THE SCORE!</h3>
					<% } %>
					
				</div>
			</div>
		</div>

		<%
			if ( error ) {		
				const errors = {
					'InvalidScore': 'You have entered a score that is impossible.',
					'NotInLobby': 'You are not a participant of this lobby. You cannot report this score.',
					'ScoreReportMismatch': 'You have reported a score that is different from what the other team has reported.',
				};
		%>

		<div class="row">
			<div class="col-8 mx-auto">
				<div class="alert alert-danger d-flex align-items-center" role="alert">
					<div class="bi flex-shrink-0 me-2">
						<svg class="bi flex-shrink-0 me-2" width="48" height="48" role="img" aria-label="Warning:">
							<use xlink:href="#exclamation-triangle-fill"/>
						</svg>
					</div>
					<div class="flex-fill">
						<div class="h4 alert-heading">
							<%- error; %>
						</div>
						<hr>
						<p class="lead">
							<%- errors[error]; %>
						</p>
						<p class="text-sm">
							If you are unable to correct this issue, please ask for help in 
							<a href="https://discord.com/channels/395806681994493964/1222954461601988618"
								>#combines-general</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<%
			}
		%>

		<%
			if ( success || match.completed ) {
				let alert_class = 'alert-success';
				let alert_title = 'The Grind Continues!';
				let message = 'Thank you for reporting the score. Please return to <a href="/">https://devleague.rscna.com</a> to check in for the next series.';
				if ( success === 'reported' && ! match.completed ) {
					alert_class = 'alert-warning';
					alert_title = 'Waiting For Verification';
					message = 'Thank you for reporting the score. <strong>When the opposing team also reports the score, you will be able to check in for the next series.</strong><br><br>You will <strong>NOT</strong> be able to check in for another series until your opponent has verified.';
				}
		%>
		<div class="row">
			<div class="col-8 mx-auto">
				<div class="alert <%- alert_class; %> d-flex align-items-center" role="alert">
					<div class="bi flex-shrink-0 me-2">
						<svg class="bi flex-shrink-0 me-2" width="48" height="48" role="img" aria-label="Success:">
							<use xlink:href="#check-circle-fill"/>
						</svg>
					</div>
					<div class="flex-fill">
						<div class="display-5 alert-heading">
							<%- alert_title; %>
						</div>
						<hr>
						<p class="lead">
							<%- message; %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<%
			}
		%>

		<% 
			if ( CAN_ADMIN ) {
		%>
		<div class="row mb-2">
			<h4 class="mb-2">Admin Controls</h4>
			<div class="col-6">
				<%
					if ( ! match.cancelled ) {
				%>
				<h5>Cancel Game</h5>
				<p class="small">
					Cancelling a game will allow every player in this lobby to requeue. No MMRs will be changed, but the VCs <strong>will be 
					deleted.</strong>
				</p>
				<a tabindex="1" href="/combines/admin/<%- match.id; %>/<%- match.league; %>/cancel" class="btn btn-outline-danger">Cancel Game</a>
				<% 
					} else {
				%>
				<h5>Resume Cancelled Game</h5>
				<p class="small">
					Clicking the "Resume Cancelled Game" button will mark this game as not cancelled and will allow players to resume playing. It will also 
					<strong>create new VC lobbies.</strong>
				</p>
				<a tabindex="1" href="/combines/admin/<%- match.id; %>/<%- match.league; %>/resume" class="btn btn-primary">Resume Cancelled Game</a>
				<% 
					}
				%>

			</div>
			<div class="col-6">
				<h5>Override Scores</h5>
				<%
					if ( ! match.cancelled ) {
				%>
				<p class="small">Overriding scores of a finished game will re-calculate player MMR gain/loss.</p>
				<form action="/combines/overload/<%- match.id %>/<%- match.league; %>" method="post">
					<div class="mb-3">
						<label for="home_wins">Home Team Series Score</label>
						<div class="input-group">
							<input
								type="number"
								class="form-control text-white"
								name="home_wins"
								id="home_wins"
								placeholder=""
								value="<%- match.home_wins %>"
								max="5"
								tabindex="1"
								style="background-color:#000f1e;"
								required
							>
						</div>
					</div>
					<div class="mb-3">
						<label for="away_wins">Away Team Series Score</label>
						<div class="input-group">
							<input
								type="number"
								class="form-control text-white"
								name="away_wins"
								id="away_wins"
								placeholder=""
								value="<%- match.away_wins %>"
								tabindex="2"
								max="5" 
								style="background-color:#000f1e;"
								required
							>
							<input
								tabindex="3"
								type="submit"
								class=" btn btn-large btn-outline-danger rounded"
								value="Override Scores"
							>
						</div>
					</div>
				</form>
				<% 
					} else {
				%>
				<p class="lead">You may not override scores of cancelled games.</p>
				<%
					}
				%>
			</div>
		</div>
		<%
			} // end of admin controls
		%>

		<%
			if ( ! match.cancelled ) {
		%>


		<div class="row mb-4">
			<% if ( user.rsc_id ) { %>
			<div class="col-md-6">
				<h4>Upload Replays</h4>
				<script type="text/javascript">
					Dropzone.options.replayDropzone = {
						paramName: 'replay',
						withCredentials: true,
						accept: (file, done) => {
							console.log('FILE IS BEING UPLOADED', file);
							const fileSplit = file.name.split('.');
							if ( fileSplit.length === 2 && fileSplit[1] === 'replay' ) {
								done();
							}
														
						},
						renameFile: (file) => {
							const fileSplit = file.name.split('.');
							const new_file_name = `<%- match.id; %>_<%- user.rsc_id %>-${fileSplit[0]}.${fileSplit[1]}`;
							file.name = new_file_name;
							return new_file_name;
						}
					};
				</script>
				<form
					action="/combine/<%- match.id; %>/upload"
					method="post"
					style="background-color: #000f1e;border:1px solid #021e3a;"
					class="dropzone fw-bolder text-white"
					id="replay-dropzone"
				> </form>

			</div>
			<% } %>

			<div class="col-md-6">
				<%
					if ( match.replays && match.replays.length ) {
				%>
				<ul>
				<%
						for ( let i = 0; i < match.replays.length; ++i ) { 
				%>
					<li>
						<%- match.replays[i].rsc_id; %>: 
						<a href="/replays/<%- match.replays[i].replay; %>">
							<%- match.replays[i].replay; %>
						</a>
					</li>
				<%
						}
				%>
				</ul>
				<%
					}
				%>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="">
					
			<% if ( user.rsc_id ) { %>
					<form action="/combine/<%- match.id %>/<%- match.league; %>" method="post">
						<input type="hidden" name="reporter_team" value="<%- combine_player.team; %>">
			<% } %>
					<div class="row">
						<div class="col-md-6">
							<h3 class="bg-Elite text-white rounded p-2">
								<%= CAN_VIEW_ALL ? '[' + teamOneMmr + '] ' : '' %>Home Team
							</h3>
							<%
								let homeClass = 'bg-info';
								let awayClass = 'bg-info';
								if ( has_scored ) {
									if ( match.home_wins >= 2 ) {
										homeClass = 'bg-Rival';
									} else if ( match.home_wins < 2 ) {
										homeClass = 'bg-Amateur';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- homeClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- match.home_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored && can_report ) {
							%>
							<div class="mb-3">
								<label for="home_wins">Home Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control text-white opacity-50 bg-Elite"
										name="home_wins"
										id="home_wins"
										placeholder=""
										value=""
										max="3"
										tabindex="4"
										required
									>
								</div>
							</div>
							<% 
								} 
							%>
							<table class="table table-dark">
								<thead>
									<tr>
										<th>Player</th>
										<th class="text-end">Start MMR</th>
										<th class="text-end">MMR &Delta;</th>
										<th class="text-end">End MMR</th>
										<%
											if ( user.rsc_id && season === match.season ) {
										%>
										<th class="text-center">Report</th>
										<%
											}
										%>
									</tr>
								</thead>
								<tbody>
								<%
									const report_url = `https://docs.google.com/forms/d/e/1FAIpQLSd3QFpiVp5rJmkgH7GtKpm2XecmYZERhEnuAqiWBz9_EdaVhg/viewform?entry.838391094=${user.nickname}&entry.794058674=https://devleague.rscna.com/combine/${match.id}&`;
									for ( let i = 0; i < match.players.home.length; ++i ) {
										const p = match.players.home[i];
										const mmr_delta = p.end_mmr ? 
											p.end_mmr - p.start_mmr : '<em>n/a</em>';
										const mmr_class = p.end_mmr ? 
											mmr_delta > 0 ? 'text-success fw-bold text-lg' : 'text-danger' :
											'text-muted';
										let report_mmr = p.start_mmr;
										if ( ! CAN_VIEW_ALL ) {
											report_mmr = 'hidden';
										}

										const player_params = `entry.276704396=${p.name}&entry.131655182=${p.rsc_id}&entry.11178892=${p.discord_id}&entry.15715283=${report_mmr}`;
								%>
									<tr class="fs-5">
										<td>
											<img
												src="/icons/<%- p?.tier?.toLowerCase(); %>.png"
												title="<%- p?.tier; %>"
												style=""
												height="16"
												alt="<%- p?.tier; %> icon"
											>
											<strong>
												<a href="/combine/matches/<%= p.rsc_id; %>">
													<%= p.name %></a>
											</strong> 
											<% 
												if ( submitted_scores.home === p.rsc_id ) { 
											%>
											<strong
												class="Elite ms-1"
												title="Submitted score"
												data-bs-toggle="tooltip"
											>
												<i class="fas fa-check-to-slot fa-xl"></i>
											</strong>
											<% 
												} else if ( submitted_scores.away === p.rsc_id ) {
											%>
											<strong
												class="Elite ms-1"
												title="Verified the score"
												data-bs-toggle="tooltip"
											>
												<i class="fas fa-check-to-slot fa-xl"></i>
											</strong>
											<%
												} else if ( i === 0 ) { 
											%>
											<span class="text-danger fw-bold">[Makes lobby]</span>
											<% 
												} 
											%>
										</td>
										<% 
											if ( CAN_VIEW_ALL || (p.rsc_id === user.rsc_id && CAN_VIEW_SELF) ) {
										%>
										<td class="text-end">
											<%- p.start_mmr; %>
										</td>
										<td class="text-end <%- mmr_class; %>">
											<%- mmr_delta > 0 ? `+${mmr_delta}` : mmr_delta; %>
										</td>
										<td class="text-end font-<%- mmr_class; %>">
											<%- p.end_mmr; %>
										</td>
										<% } else if ( combines.active ){ %>
										<td colspan="3" class="text-end fst-italic">MMRs Hidden During Pre-season</td>
										<% } %>
										<%
											if ( user.rsc_id && season === match.season ) {
										%>
										<td class="text-center">
											<a
												href="<%= report_url + player_params; %>"
												class="btn btn-sm bg-Elite"
												title="<h6><u>Submit Numbers Report</u></h6><div>player: <strong class='<%- p?.tier; %>'><%= p.name; %></strong><br>match: <strong>/combine/<%- match.id; %></strong><br>MMR: <strong class='<%- p?.tier; %>'><%- report_mmr; %></strong></div>"
												data-bs-toggle="tooltip"
												data-bs-html="true"
												target="_blank"
											>
												report
											</a>
										</td>
										<%
											}
										%>
									</tr>
								<%
									}
								%>
								</tbody>
							</table>
						</div>

						<div class="col-md-6">
							<h3 class="bg-Prospect rounded p-2 text-black">
								<%= CAN_VIEW_ALL ? '[' + teamTwoMmr + '] ' : '' %>Away Team
							</h3>
							<%
								if ( has_scored ) {
									if ( match.away_wins >= 2 ) {
										awayClass = 'bg-Rival';
									} else if ( match.away_wins < 2 ) {
										awayClass = 'bg-Amatuer';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- awayClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- match.away_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored && can_report ) {
							%>
							<div class="mb-3">
									<% 
										if ( match.confirmed_rsc_id || match.reported_rsc_id ) {
									%>
								<label for="away_wins">Away Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control text-white bg-opacity-50 bg-Prospect"
										name="away_wins"
										id="away_wins"
										placeholder=""
										value=""
										tabindex="5"
										max="3"
										required
									>
									<input
										tabindex="6"
										type="submit"
										class="btn btn-large btn-success rounded"
										value="Verify Scores"
									>
								</div>
									<%
										} else {
									%>
								<label for="away_wins">Away Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control text-white bg-opacity-50 bg-Prospect"
										name="away_wins"
										id="away_wins"
										placeholder=""
										value=""
										tabindex="5"
										max="3"
										required
									>
									<input
										tabindex="6"
										type="submit"
										class=" btn btn-large btn-success rounded"
										value="Submit Scores"
									>
								</div>
									<%
										}
									%>
								</div>
							<%
								}
							%>

							<table class="table table-dark">
								<thead>
									<tr>
										<th>Player</th>
										<th class="text-end">Start MMR</th>
										<th class="text-end">MMR &Delta;</th>
										<th class="text-end">End MMR</th>
										<%
											if ( user.rsc_id && season === match.season ) {
										%>
										<th class="text-center">Report</th>
										<%
											} 
										%>
									</tr>
								</thead>
								<tbody>
								<%
									for ( let i = 0; i < match.players.away.length; ++i ) {
										const p = match.players.away[i];
										const mmr_delta = p.end_mmr ? 
											p.end_mmr - p.start_mmr : '<em>n/a</em>';
										const mmr_class = p.end_mmr ? 
											mmr_delta > 0 ? 'text-success fw-bold text-lg' : 'text-danger' :
											'text-muted';
										let report_mmr = p.start_mmr;
										if ( ! CAN_VIEW_ALL ) {
											report_mmr = 'hidden';
										}
										const player_params = `entry.276704396=${p.name}&entry.131655182=${p.rsc_id}&entry.11178892=${p.discord_id}&entry.15715283=${report_mmr}`;
								%>
									<tr class="fs-5">
										<td>
											<img
												src="/icons/<%- p?.tier?.toLowerCase(); %>.png"
												title="<%- p?.tier; %>"
												height="16"
												alt="<%- p?.tier; %> icon"
											>
											<strong>
												<a href="/combine/matches/<%= p.rsc_id; %>"
													><%= p.name %></a>
											</strong> 
											<% 
												if ( submitted_scores.home === p.rsc_id ) { 
											%>
											<strong
												class="Prospect ms-1"
												title="Reported scores"
												data-bs-toggle="tooltip"
											>
												<i class="fas fa-check-to-slot fa-xl"></i>
											</strong>
											<% 
												} else if ( submitted_scores.away === p.rsc_id ) {
											%>
											<strong
												class="Prospect ms-1"
												title="Verified the score"
												data-bs-toggle="tooltip"
											>
												<i class="fas fa-check-to-slot fa-xl"></i>
											</strong>
											<% 
												} else if ( i === 0 ) { 
											%>
											<span
												class="text-danger fw-bold"
												title="You have been selected as the person responsible for uploading replays.<br><br><strong>IF YOU ARE ON CONSOLE</strong> it is <strong>YOUR</strong> responsibility to make sure someone on your team can upload for you."
												data-bs-toggle="tooltip"
												data-bs-html="true"
											>[replays!]</span>
											<% 
												} 
											%>
										</td>
										<% 
											if ( CAN_VIEW_ALL || (p.rsc_id === user.rsc_id && CAN_VIEW_SELF)) {
										%>
										<td class="text-end">
											<%- p.start_mmr; %>
										</td>
										<td class="text-end <%- mmr_class; %>">
											<%- mmr_delta > 0 ? `+${mmr_delta}` : mmr_delta; %>
										</td>
										<td class="text-end font-<%- mmr_class; %>">
											<%- p.end_mmr; %>
										</td>
										<% } else if ( combines.active ){ %>
										<td colspan="3" class="text-end fst-italic">MMRs Hidden During Pre-season</td>
										<% } %>
										<%
											if ( user.rsc_id && season === match.season ) {
										%>
										<td class="text-center">
											<a
												href="<%= report_url + player_params; %>"
												class="btn btn-sm bg-Prospect"
												title="<h6>Submit Numbers Report</h6><div>player: <strong class='<%-p?.tier;%>'><%= p.name; %></strong><br>match: <strong>/combine/<%- match.id; %></strong><br>MMR: <strong class='<%- p?.tier; %>'><%- report_mmr; %></strong></div>"
												data-bs-toggle="tooltip"
												data-bs-html="true"
												target="_blank"
											>
												report
											</a>
										</td>
										<%
											}
										%>
									</tr>
								<%
									}
								%>
								</tbody>
							</table>

						</div>
					</div>
			<% if ( user.rsc_id ) { %>
					</form>
			<% } %>
						
				</div>
			</div>
		</div>
		<% 
			}
		%>
	</div>

	<% if ( is_admin ) { %>
	<hr class="mb-4">
	<pre><%- JSON.stringify(submitted_scores, undefined, 4); %></pre>
	<pre><%- JSON.stringify(match, undefined, 4); %></pre>
	<% } %>

</main>

<%- include('partials/footer.ejs'); %>
