
<%
	let is_mod = false;
	const mod_role_id = '400097903277899776';
	if ( user_roles && user_roles.includes(mod_role_id) ) {
		is_mod = true;
	}
	if ( is_admin ) { is_mod = true; }
%>

<%- include('partials/header.ejs'); %>

<% 
	if ( is_mod ) {
%>
<div class="modal fade" id="ban_user_modal" tabindex="-1" aria-labelledby="ban_user_label" aria-hidden="true">
	<form
		action="/ban/<%- matches[0].player_id; %>/<%- matches[0].player_rsc_id; %>/<%- matches[0].player_discord_id; %>"
		method="post"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title text-dark"
						id="ban_user_label"
					>Ban User <%= matches[0].player_nickname; %></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-dark">
					<label for="note">
						Ban Note:
					</label>
					<textarea name="note" id="note" rows="3" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Ban User</button>
				</div>
			</div>
		</div>
	</form>
</div>
<%
	}
%>


<main class="container">
	<div class="py-0 mt-2">
		<h2>RSC 3s League Combines, Season <%- combines.season %></h2>
		<p class="lead">
			Below is a list of all matches and outcomes for RSC 3s Season <%= combines.season %>
			for <a href="/player/<%= rsc_id; %>"><%= name; %></a>.
		</p>
		<%
			if ( is_mod ) {
		%>
		<button
			id="ban_user_button"
			type="button"
			class="btn btn-danger mb-3"
			data-bs-toggle="modal"
			data-bs-target="#ban_user_modal"
		>
			<i class="fas fa-gavel me-1"></i>
			Ban User
		</button>
		<%
			}
		%>
	</div>
	<div class="row">
		<!-- <div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Available Subs</span>
				<span class="badge badge-secondary badge-pill">3</span>
			</h4>
		</div> -->

		<!-- primary FA signup / team generation -->
		<div class="col-md-8 order-md-1">

			<%
				if ( matches && matches.length ) {

					let matchDay = '';

					for ( let i = 0; i < matches.length; i++ ) {
						const match = matches[i];
						const match_dtg = match.match_dtg.toISOString();
						if ( match_dtg.split('T')[0] != matchDay ) {
							matchDay = match_dtg.split('T')[0];
			%>
			<h4 class="mb-3">MD <%= matchDay %></h4>
			<ul class="list-group mb-3">

			<%	
						} // end of MD check and list prep

						let homeTeam = matches[i].lobby_user;
						let awayTeam = matches[i].lobby_pass;
						const scored_class = (matches[i].home_wins || matches[i].away_wins) ? 'bg-success bg-opacity-25 border-success border rounded fw-bold' : 'bg-secondary bg-opacity-25 border rounded text-muted';
			%>
				<li class="list-group-item list-group-item-dark d-flex justify-content-between 1h-condensed">
					<div class="<%- scored_class; %> px-2 pb-1 me-2 align-middle">
						<h5 class="my-0">[<%- matches[i].home_wins %> - <%- matches[i].away_wins %>]</h5>
					</div>
					<div class="my-0 flex-grow-1 align-middle">
					<h5 class="my-0">
						<span class="bg-<%- matches[i].tier; %> d-inline-block text-end pe-2" style="width:125px;"><%= matches[i].tier; %></span> 
						<%= awayTeam %> @ <%= homeTeam %>
					</h5>
					</div>
					<a href="/combine/<%= matches[i].id %>">view teams</a>
				</li>
			<%
						if ( i == matches.length - 1 || matches[i+1].match_day != matchDay ) {
							// close out the list if we're done, or if the next result is a different MD.
			%>
			</ul>
			<%				
						}

					} // end of total loop
			%>

				

			<%		
				}
			%>

		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>
