
<%- include('partials/header.ejs'); %>

<%

	const submitted_scores = {
		home: null,
		away: null,
	};

	const lobby = {};
	for ( let i = 0; i < match.players.home.length; ++i ) {
		const p = match.players.home[i];
		lobby[p.rsc_id] = p;
	}
	for ( let i = 0; i < match.players.away.length; ++i ) {
		const p = match.players.away[i];
		lobby[p.rsc_id] = p;
	}

	if ( match.reported_rsc_id ) {
		if ( match.reported_rsc_id in lobby ) {
			submitted_scores.home = match.reported_rsc_id;
		}
	}
	if ( match.confirmed_rsc_id ) {
		if ( match.confirmed_rsc_id in lobby ) {
			submitted_scores.away = match.confirmed_rsc_id;
		}
	}

	const has_scored = (match.reported_rsc_id || match.confirmed_rsc_id) ? true : false;
	const can_report = is_admin || is_combines_admin || user.rsc_id in lobby ? true : false;
%>

<main class="container mt-2 p-2">
	<div class="bg-light p-2 rounded">
		<h1>Combine Match Info</h1>
		<p class="lead">
			Please find the lobby information provided below. If you have any questions or problems, please ask for help
			in <a href="https://discord.com/channels/395806681994493964/1220034175835312228">#combines-help</a>.
		</p>
		<div class="row">
			<div class="col-9">
				<div class="bg-light p-2 rounded border-rounded">
					<h2>Lobby Info</h2>
					<p class="lead">This is a 4-game series.</p>
					
					<ul>
						<li>Match: <strong><%- match.cancelled ? 'cancelled' : match.completed ? 'completed' : 'active'; %></strong></li>
						<li>Lobby Username: <strong><code><%= match.lobby_user %></code></strong></li>
						<li>Lobby Password: <strong><code><%= match.lobby_pass %></code></strong></li>
						<hr>
						<% 
							if ( is_admin || is_combines_admin ) {
						%>
						<li>
							<i class="fa fa-lock"></i>
							MMR Delta: <strong><%- match.home_mmr - match.away_mmr; %></strong>
						</li>
						<li>
							<i class="fa fa-lock"></i>
							Reported: 
							<strong>
								<a href="/player/<%- match.reported_rsc_id; %>">
									<%- match.reported_rsc_id in lobby ? 
										lobby[match.reported_rsc_id].name : match.reported_rsc_id; %>
								</a>
							</strong>
						</li>
						<li>
							<i class="fa fa-lock"></i>
							Confirmed: 
							<strong>
								<a href="/player/<%- match.confirmed_rsc_id; %>">
									<%- match.confirmed_rsc_id in lobby ? 
										lobby[match.confirmed_rsc_id].name : match.confirmed_rsc_id; %>
								</a>
							</strong>
						</li>
						<%
							}
						%>
					</ul>

					<% if ( ! has_scored ) { %>
					<h3>BOTH TEAMS MUST REPORT THE SCORE!</h3>
					<% } %>

					<% 
						let teamOneMmr = match.home_mmr;
						let teamTwoMmr = match.away_mmr;
					%> 
					<form action="/combine/<%- match.id %>" method="post">
					<div class="row">
						<div class="col-md-6">
							<h3 class="bg-primary text-white rounded p-2">
								<%= (is_admin||is_combines_admin) ? '[' + teamOneMmr + '] ' : '' %>Home Team
							</h3>
							<%
								let homeClass = 'bg-info';
								let awayClass = 'bg-info';
								if ( has_scored ) {
									if ( match.home_wins > 2 ) {
										homeClass = 'bg-success';
									} else if ( match.home_wins < 2 ) {
										homeClass = 'bg-danger';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- homeClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- match.home_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored && can_report ) {
							%>
							<div class="mb-3">
								<label for="home_wins">Home Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control"
										name="home_wins"
										id="home_wins"
										placeholder="2"
										value="<%- match.home_wins %>"
										max="4"
										tabindex="1"
										required
									>
								</div>
							</div>
							<% 
								}
							%>
							<ul>
								<%
									for ( let i = 0; i < match.players.home.length; ++i ) {
								%>
								<li>
									<% if (is_admin || is_combines_admin) { %>
									[<%- match.players.home[i].start_mmr %>]
									<% } %>
									<strong>
										<a href="/player/<%= match.players.home[i].rsc_id; %>">
											<%= match.players.home[i].name %></a>
									</strong> 
									<% if ( i === 0 ) { %>
									[Makes lobby]
									<% } %>

									<% if ( submitted_scores.home === match.players.home[i].rsc_id ) { %>
									<strong class="text-success ms-1">REPORTED</strong>
									<% } %>
								</li>
								<%
									}
								%>
							</ul>
						</div>
						<div class="col-md-6">
							<h3 class="bg-warning rounded p-2">
								<%= (is_admin||is_combines_admin) ? '[' + teamTwoMmr + '] ' : '' %>Away Team
							</h3>
							<%
								if ( has_scored ) {
									if ( match.away_wins > 2 ) {
										awayClass = 'bg-success';
									} else if ( match.away_wins < 2 ) {
										awayClass = 'bg-danger';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- awayClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- match.away_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored || (is_admin || is_combines_admin) ) {
							%>
							<div class="mb-3">
									<% 
										if ( ! match.confirmed_rsc_id || ! match.reported_rsc_id ) {
											if ( match.confirmed_rsc_id || match.reported_rsc_id ) {
									%>
								<label for="away_wins">Away Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control"
										name="away_wins"
										id="away_wins"
										placeholder="2"
										value="<%- match.away_wins %>"
										tabindex="2"
										max="4"
										required
									>
									<input
										tabindex="1"
										type="submit"
										class=" btn btn-large btn-success rounded"
										value="Verify Scores"
									>
								</div>
									<%
											} else {
									%>
								<label for="away_wins">Away Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control"
										name="away_wins"
										id="away_wins"
										placeholder="2"
										value="<%- match.away_wins %>"
										tabindex="2"
										max="4"
										required
									>
									<input tabindex="3" type="submit" class="btn btn-large btn-primary" value="Submit Scores">
								</div>
									<%
											}
										}
									%>
								</div>
							<%
								}
							%>
							<ul>
								<%
									for ( let i = 0; i < match.players.away.length; ++i ) {
								%>
								<li>
									<% if (is_admin || is_combines_admin) { %>
									[<%- match.players.away[i].start_mmr %>]
									<% } %>
									<strong>
										<a href="/player/<%= match.players.away[i].rsc_id; %>">
											<%= match.players.away[i].name %></a>
									</strong> 
									<% if ( i === 0 ) { %>
									[Uploads replays/screenshots]
									<% } %>
									<% if ( submitted_scores.away === match.players.away[i].rsc_id ) { %>
									<strong class="text-success ms-1">REPORTED</strong>
									<% } %>
								<%
									}
								%>
								</li>
							</ul>
						</div>
					</div>
					</form>
						
				</div>
			</div>
		</div>
	</div>

	<% if ( is_admin ) { %>
	<hr class="mb-4">
	<pre><%- JSON.stringify(match, undefined, 4); %></pre>
	<% } %>

</main>

<%- include('partials/footer.ejs'); %>
