
<%- include('partials/header.ejs'); %>

<%
		
%>

	<main class="container">
		<div class="bg-dark p-3 rounded">
			<div class="row">
				<div class="col-md-8">

			<% if ( user.name ) { %>
					<h1>Welcome to the RSC Development League, <%= user.name %></h1>
					<div class="roles text-sm">
					<%
						if ( user_roles ) {
							for ( const role_id in roles ) {
								if ( user_roles.includes(role_id) ) {
					%>
					<span class="badge badge-sm rounded-pill <%- roles[role_id]['css']; %>"><%- roles[role_id]['text']; %></span>
					<%
								
								}
							}
						}
					%>
					</div>
			<% } else { %>
					<h1>Welcome to the RSC Development League</h1>
			<% } %>

					<p class="lead">
						The RSC Development League is a Rocket League competitive league that runs concurrently to the 
						active RSC season. It is open to <strong>ALL RSC players</strong> and is intended to let
						Free Agents showcase their skills and capabilities to GMs and franchise staff. Dev League matches
						also have game stats and generate SBV/IDR during the season just like rostered players!
					</p>

					<h3>Dev League Info</h3>
					<p>
						Players currently rostered inside of RSC Franchises are also <strong>strongly</strong>
						encouraged to sign up and play as a sub so that we can ensure we have enough players in each tier
						to have at least two teams playing every night. Free agents will always receive priority in being placed 
						on a team, but anyone that signs up as a sub will be used on a first-come, first-served basis as needed
						to fill out teams.
					</p>
					<p>
						Games run every Monday and Wednesday night on active game days at <strong>8:00PM ET</strong> 
						and are <strong>ALWAYS</strong> finished before 9:00PM
						so that you can sub for active franchises if needed. If you wish to play tonight, please check in by clicking
						the button below (must be signed in with your Discord account). 
					</p>
					<p>
						<strong>Be aware...</strong> the RSC Development League is for FAs to get seen by GMs/AGMs/Scouts. 
						Players checking in and then choosing at the last minute not to play hurts our ability to 
						provide this service. Only check in if you're 100% committed to playing a series of 4 games
						at 8:15PM. <strong>If you check in and no-show your matches, you will be banned from Dev League
						for the rest of the current season.</strong>
					</p>
				</div>
				<div class="col-md-4 matchDates dark">
					<h4>Season <%= settings.season %> Dates</h4>
					<ul class="dates">
						<%
							for ( let match_date in match_days ) {
								const css_classes = [];
								if ( match_date === today ) {
									css_classes.push('today');
								} 
								if ( match_days[match_date] === 'holiday' ) {
									css_classes.push('holiday');
								} 
								if ( match_days[match_date] === 99 ) {
									css_classes.push('championship');
								}
						%>

						<li class="<%- css_classes.join(' '); %>">
							<%
								if ( match_days[match_date] !== 99 ) {
							%>
							<%- match_date %> - 
							<%- match_days[ match_date ] == 'holiday' ? '<strong>Holiday - No Games</strong>' : 'Match Day: <strong>' + match_days[match_date] + '</strong>' %>
							<%
								} else {
							%>
							<span style="font-size: 1.4rem;">
							<strong>Dev League Championship</strong>
							<br>
							<%- match_date %>
							</span>
							<%
								}
							%>
						</li>

						<%
							}
						%>
					</ul>
				</div>
			</div>
		</div>

		<div class="bg-dark p-3 rounded">
		<% if ( match_day !== false && match_day != 'holiday' ) { %>

			<% if ( nickname && ! checked_in && user && user['active_3s'] && settings[ user.tier.toLowerCase() ] != 0 ) { %>

			<!-- check in features -->	
			<style type="text/css">
				dialog#confirmCheckIn {
					background-color: #C2FFD7;
					border-radius: 12px;
					max-width: 50vw;
				}

				dialog#confirmCheckIn h4 {
					text-decoration: underline;
				}

				dialog#confirmCheckIn::backdrop {
					background-color:  #FF3400aa;
				}
			</style>

			<dialog id="confirmCheckIn">
				<h4>Confirm Check In</h4>
				<p>
					<strong>Warning!</strong> - Dev League is a privilege. Only check in if you are committed to being
					present in the discord at 8PM ET and actively want to participate. Not showing up when you've checked in
					hurts our ability to provide this service for all other players. 
				</p>
				<h5>IF YOU CHECK IN AND ARE NOT PRESENT AT GAME TIME, YOU WILL BE <u>BANNED</u> FROM DEV LEAGUE!</h5>
				<a class="btn btn-lg btn-primary" href="/check_in/<%= match_day %>" role="button">Confirm Check In!</a>
				<a class="btn btn-lg btn-danger" id="backOut" href="javascript:void(0);" role="button" style="float:right;">Cancel</a>
			</dialog>

			<%
				if ( user.ban.id ) {
			%>
			<h2>You Are Banned!</h2>
			<p class="lead">
				You were banned on <%- user.ban.banned_on; %>. Please message 
				ModMail if you believe this to be in error. 
			</p>

			<div class="p-4 border mb-4">
				<h4>Banned By</h4>
				<%- user.ban.banned_by_name; %>
				<h4>Ban Reason</h4>
				<pre class="mb-0"><%- user.ban.note; %></pre>
			</div>
			<a class="btn btn-lg btn-danger disabled" href="javascript:void(0);">You Are Banned!</a>
			<%
				} else {
			%>
			<a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button" id="checkInModal">Check In!</a>
			<%
				}
			%>

			<script type="text/javascript">
				document.getElementById('checkInModal').addEventListener('click', function() {
					document.getElementById('confirmCheckIn').showModal();
				});

				document.getElementById('backOut').addEventListener('click', function() {
					document.getElementById('confirmCheckIn').close();
				});
			</script>


			<% } else if ( nickname && checked_in && rostered && "rsc_id" in user && user['rsc_id'] != null ) { %>
				<h2>Your Team is Ready to Play!</h2>
				<p class="lead">
					You have been selected to play tonight. Click the "Match" link in the sidebar or click the button below. 
				</p>
				<a class="btn btn-lg btn-success" href="/match" role="button">View Match Details</a>
			<% } else if ( nickname && checked_in && "rsc_id" in user && user['rsc_id'] != null ) { %>
			<h2>You are checked in!</h2>
			<p class="lead">
				Rosters are generated around 8:00PM. Keep an eye on the channel <a href="https://discord.com/channels/395806681994493964/1013519443684511834">#dev-league</a> channel for updates.	
				If you are unable to play, you may check out using the check out button below. 
				<strong>At 8:00PM, your match information will be available at THIS website.</strong>
			</p>
			<%
				if ( new Date().getHours() < 24 ) {
			%>
			<a class="btn btn-lg btn-danger" href="/check_out/<%= match_day %>" role="button">Check Out</a>
			<%
				}
			%>
			<% } else if ( nickname && user && ! user['active_3s'] ) { %>
			<h2>You are not an active player</h2>
			<p>
				This league is only available to valid members of RSC with an active contract. Please sign up for the league
				at <a href="https://discord.gg/rsc" rel="nofollow">https://discord.gg/rsc</a>
			</p>
			<% } else if ( nickname && "rsc_id" in user && user['rsc_id'] != null && settings[ user.tier.toLowerCase() ] == 0) { %>
			<h2>Your tier is not available in the RSC Development League</h2>
			<p>
				Your tier, <%= user.tier %>, is not currently enabled for the RSC Development League. Check back next season or ask about it in 
				Discord.
			</p>
			<% } else { %>
			<a class="btn btn-lg btn-primary" href="/login_with_discord" role="button">Log In with Discord</a>
			<% } %>

		<% } else if ( match_day && match_day == 'holiday' ) { %>
			
			<h2>Happy Holidays 🎆 from RSC!</h2>
			<p>
				Today is a Holiday RSC is taking a much-needed vacation. Please enjoy time with your loved ones. ❤️
			</p>

		<% } else { %>

			<h2>It is not an RSC Match Day</h2>
			<p>
				Games are played on official RSC Match Days (Mondays/Wednesdays). Come back later!
			</p>

		<% } %>
			
		
		</div>
	</main>

<%- include('partials/footer.ejs'); %>
