
<%- include('partials/header.ejs'); %>

	<main class="container">
		<div class="bg-light p-3 rounded">
			<div class="row">
				<div class="col-12">

					<h1>RSC DevLeague Season <%= settings.season; %> Stats</h1>

					<%
						for ( const tier in leaderboards ) {
							const leaderboard = leaderboards[ tier ];
							if ( leaderboard === null ) {
								continue;
							}
					%>
					<h4><%= tier; %></h4>
					<ol class="dates">
						<%
							let count = 0;
							let myPosition = null;
							if ( leaderboard && user.name && user.name in leaderboard ) {
								myPosition = Object.keys(leaderboard).indexOf(user.name);
							}
							for ( let player in leaderboard ) {
								count++;

								if ( count > 10 ) {
									//break;
								}

								if ( count === 1 ) {
									top_class = 'fs-5 font-weight-bold';
								} else if ( count === 2 ) {
									top_class = 'fs-6 font-weight-bold';
								}
								let player_class = '';
								if ( player === user.name ) {
									player_class = 'today';
								}
								let display_name = leaderboard[ player ]['name'];
						%>

						<li class="<%- player_class  %> <%- top_class %>">
							<%- display_name %> - <code><%- leaderboard[ player ]['points']; %></code>
						</li>

						<%
							}

							if ( myPosition && myPosition > 10 ) {
						%>

						<li class="today" value="<%- myPosition %>">
							<%- user.name %> - <code><%- leaderboard[ user.name ]['points']; %></code>
						</li>

						<%
							}
						%>

					</ol>
					<%
						}
					%>


				</div>
			</div>

			<%
				if ( is_admin ) {
			%>

			<div class="row">
				<div class="col-12">
					<h4>Invites</h4>
					<%
						for ( const tier in leaderboards ) {
							const leaderboard = leaderboards[ tier ];
							if ( leaderboard === null ) {
								continue;
							}
					%>
					<h4>## <%= tier; %></h4>
						<%
							let count = 0;
							let myPosition = null;
							if ( leaderboard && user.name && user.name in leaderboard ) {
								myPosition = Object.keys(leaderboard).indexOf(user.name);
							}
							for ( let player in leaderboard ) {
								count++;

								if ( count > 15 ) {
									break;
								}

								let player_class = '';
								if ( player === user.name ) {
									player_class = 'today';
								}
								let display_name = leaderboard[ player ]['name'];
						%>
						<%- count; %>. &lt;@<%- leaderboard[ player ]['discord_id']; %>&gt; [**<%- leaderboard[ player ]['points']; %>** pts.]<br>
						<%
							if ( count === 6 ) {
						%>
						### <%- tier; %> Alternates<br>
						<%
							}
						%>
					<%
							}
						}
					%>

				</div>
			</div>

			<%
				}
			%>

		</div>
	
	</main>

<%- include('partials/footer.ejs'); %>
