
<%- include('partials/header.ejs'); %>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
	</symbol>
	<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	</symbol>
</svg>

<script type="text/javascript">
	function set_page_size(el) {
		if ( ! el ) { return; }

		const search = new URLSearchParams(window.location.search);
		if ( search.has('limit') ) {
			search.set('limit', el.value);
		} else {
			search.append('limit', el.value);
		}
	
		window.location.href = `${window.location.pathname}?${search}`;
	}

	function set_visibility(el) {
		if ( ! el ) { return; }

		const search = new URLSearchParams(window.location.search);
		if ( search.has('visibility') ) {
			search.set('visibility', el.value);
		} else {
			search.append('visibility', el.value);
		}

		window.location.href = `${window.location.pathname}?${search}`;
	}
	function set_sort_order(el) {
		if ( ! el ) { return; }

		const search = new URLSearchParams(window.location.search);
		console.log(search.get('order'));
		const same_val = search.get('order') === el.dataset.order ? true : false;
		if ( search.has('order') ) {
			search.set('order', el.dataset.order);
		} else {
			search.append('order', el.dataset.order);
		}

		if ( search.has('dir') ) {
			console.log('HAS dir', same_val, same_val ? 'desc' : 'asc');
			search.set(
				'dir', same_val ? 
					search.get('dir') === 'DESC' ? 
						'ASC' : 'DESC' 
					: 'DESC'
			);
		} else {
			console.log('NO dir', same_val, same_val ? 'asc' : 'desc');
			search.append('dir', same_val ? 'ASC' : 'DESC');
			search.set(
				'dir', same_val ? 
					search.get('dir') === 'DESC' ? 
						'ASC' : 'DESC' 
					: 'ASC'
			);
		}
		
		console.log(search.toString());
		console.log(search);

		window.location.href = `${window.location.pathname}?${search}`;
	}
</script>

<main class="container">
	<div class="py-3 py-md-5 pb-md-2">
		<h2>S<%- combines.season; %> Combines TierMaker</h2>
		<p class="lead">
			View all the players that have played in this combine and how well they
			did during the combine.
		</p>
	</div>


	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<div class="mb-3 row">
				<div class="col-6 col-lg-4 h3 fw-bolder text-success">Combine Tiermaker</div>
			</div>

			<%
				const visibilities = {
					'all': 'All Players',
					'played': 'WITH Games',
					'none': 'WITHOUT Games',
				};

				const limits = {
					50: false,
					100: false,
					250: false,
					500: false,
					1500: false,
				};
				if ( limit in limits ) {
					limits[limit] = true;
				}
				const arrows = {
					'rsc_id': '',
					'name': '',
					'tier': '',
					'base_mmr': '',
					'effective_mmr': '',
					'current_mmr': '',
					'mmr_delta': '',
					'count': '',
					'keeper': '',
					'wins': '',
					'losses': '',
					'win_percentage': '',
				};
				if ( order in arrows && dir ) {
					if ( dir === 'ASC' ) {
						arrows[order] = '<i class="fas fa-arrow-down"></i>';
					} else if ( dir === 'DESC' ) {
						arrows[order] = '<i class="fas fa-arrow-up"></i>';
					}
				}

				const query = new URLSearchParams({
					limit: limit,
					dir: dir,
					order: order,
					visibility: visibility,
				});
			%>
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<nav aria-label="">
							<ul class="pagination justify-content-end">
								<% 
									const pages = Math.floor(total / limit) + 1;
									if ( page <= 1 ) {
								%>
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<%
									} else {
								%>
								<li class="page-item">
									<a class="page-link"
										href="?<%- query.toString(); %>&page=<%- page-1; %>"
									>Previous</a>
								</li>
								<%
									}
									for ( let i = 1; i <= pages; ++i ) {
										if ( page === i ) {
								%>
								<li class="page-item active" aria-current="page">
									<span class="page-link">
									<%- i; %>
									</span>
								</li>
								<%
										} else { 
								%>
								<li class="page-item">
									<a class="page-link" href="?<%- query.toString(); %>&page=<%- i; %>">
									<%- i; %>
									</a>
								</li>
								<%
										}
									}
									if ( page >= pages ) {
								%>
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
								</li>
								<%
									} else {
								%>
								<li class="page-item">
									<a class="page-link"
										href="?<%- query.toString(); %>&page=<%- page+1; %>"
									>Next</a>
								</li>
								<%
									}
								%>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-3">
					<label for="limit">Limit</label>
					<select name="limit" id="limit" onchange="set_page_size(this);">
						<% 
							for ( let lim in limits ) {
						%>
						<option value="<%- lim %>" <%- limits[lim] ? 'selected' : ''; %>><%- lim; %> Players</option>
						<%
							}
						%>
					</select>
				</div>
				<div class="col-12 col-md-3">
					<label for="show">Show</label>
					<select name="show" id="show" onchange="set_visibility(this);">
						<% 
							for ( let vis in visibilities ) {
						%>
						<option value="<%- vis %>" <%- vis === visibility ? 'selected' : ''; %>>
							<%- visibilities[vis]; %>
						</option>
						<%
							}
						%>
					</select>
				</div>
				<div class="col-12 col-md-4">
					<h4><span class="text-success"><%- total; %></span> TierMaker Players</h4>
				</div>
				<div class="col-12 col-md-2 text-end h-2">
					<a
						href="/combines/history?<%- query.toString(); %>&csv=true"
						class="btn btn-warning fw-bold"
						title="Download Combine Tiermaker"
					>
						<i class="fas fa-file-arrow-down me-1"></i>
						Download
					</a>
				</div>
			</div>
			<div class="mb-3">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="rsc_id"
								data-dir="">
								RSC ID
								<%- arrows['rsc_id']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="name"
								data-dir="">
								Player Name
								<%- arrows['name']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="tier"
								data-dir="">
								Initial Tier
								<%- arrows['tier']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="base_mmr"
								data-dir="">
								Base MMR
								<%- arrows['base_mmr']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="effective_mmr"
								data-dir="">
								Effective MMR
								<%- arrows['effective_mmr']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="mmr_delta"
								data-dir="">
								&Delta;
								<%- arrows['mmr_delta']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="current_mmr"
								data-dir="">
								Combines MMR
								<%- arrows['current_mmr']; %>
							</th>
							<th class="text-center">
								Combine Tier
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="wins"
								data-dir="">
									Record
								<%- arrows['wins']; %>
							</th>
							<th
								class="text-center"
								onclick="set_sort_order(this);"
								data-order="win_percentage"
								data-dir="">
									W%
								<%- arrows['win_percentage']; %>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

					<% 
						const stat_colors = {
							'great': 'text-success',
							'ok': 'text-info',
							'neutral': 'text-warning',
							'bad': 'text-danger',
							'none': 'text-muted',
						};
						let analysis = 'none';
						if ( Object.keys(players).length ) {
							for ( const rsc_id in players ) {
								const p = players[rsc_id];
								if ( p.win_percentage > 60 ) {
									analysis = 'great';
								} else if ( p.win_percentage > 52 ) {
									analysis = 'ok';
								} else if ( p.win_percentage > 45 ) {
									analysis = 'neutral';
								} else if ( p.win_percentage > 20 ) {
									analysis = 'bad';
								} else {
									analysis = 'none';
								}

					%>
						<tr>
							<td class="text-muted">
								<%- p.num; %>
							</td>
							<td class="text-left">
								<a href="/player/<%= rsc_id; %>">
									<%- rsc_id %>
								</a>
							</td>
							<td class="fw-bolder">
								<a href="/player/<%= rsc_id; %>"><%= p.name; %></a>
							</td>
							<td class="text-start bg-<%- p.tier; %>">
								<%- p.tier; %>
							</td>
							<td class="text-end">
								<%- p.base_mmr; %>
							</td>
							<td class="text-end">
								<%- p.effective_mmr; %>
							</td>
							<td class="text-center">
								<span 
									class="fw-bold <%- 
										p.mmr_delta > 0 ? 
											'text-success' : 
											p.mmr_delta === 0 ? 
												'text-muted' : 'text-danger'; 
									%>"
									title="<%= p.effective_mmr; %>"
									>
									<%= p.mmr_delta; %>
								</span>
							</td>
							<td class="text-center">
								<span 
									class="fw-bold <%- 
										p.mmr_delta > 0 ? 
											'text-success' : 
											p.mmr_delta === 0 ? 
												'text-muted' : 'text-danger'; 
									%>"
									title="<%= p.effective_mmr; %>"
									>
									<%= p.current_mmr; %>
								</span>
							</td>
							<td class="text-start bg-<%- p.combines_tier; %>">
								<%- p.combines_tier; %>
							</td>
							<td class="text-right">
								<span class="text-success fw-bold"><%= p.wins; %></span> /
								<span class="text-danger fw-bold"><%= p.losses; %></span>
							</td>
							<td class="text-center">
								<span class="<%- stat_colors[analysis]; %> fw-bold">
									<%= p.win_percentage; %>%
								</span>
							</td>
						</tr>

					<% 
							} // end of loop
						} else {
					%>

						<tr><td colspan="12"><em>No players?</em></td></tr>

					<%
						}
					%>

					</tbody>
				</table>
			
				<div class="text-center">
					<nav aria-label="">
						<ul class="pagination justify-content-center">
							<% 
								if ( page <= 1 ) {
							%>
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							</li>
							<%
								} else {
							%>
							<li class="page-item">
								<a class="page-link"
									href="?<%- query.toString(); %>&page=<%- page-1; %>"
								>Previous</a>
							</li>
							<%
								}
								for ( let i = 1; i <= pages; ++i ) {
									if ( page === i ) {
							%>
							<li class="page-item active" aria-current="page">
								<span class="page-link">
								<%- i; %>
								</span>
							</li>
							<%
									} else { 
							%>
							<li class="page-item">
								<a class="page-link" href="?<%- query.toString(); %>&page=<%- i; %>">
								<%- i; %>
								</a>
							</li>
							<%
									}
								}
								if ( page >= pages ) {
							%>
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
							</li>
							<%
								} else {
							%>
							<li class="page-item">
								<a class="page-link"
									href="?<%- query.toString(); %>&page=<%- page+1; %>"
								>Next</a>
							</li>
							<%
								}
							%>
						</ul>
					</nav>
				</div>

			</div>

		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>
