<%

	function ucfirst(str) {
		return str.charAt(0).toUpperCase() + str.slice(1);
	}

	let load_sheet_disabled = false;
	if ( combines && combines.tiermaker_url ) {
		console.log('has_sheet');	
	} else {
		console.log('no sheet');
		load_sheet_disabled = true;
	}

	const importResults = {
		'import_type': null,
		'display': false,
		'data': {},
	};
	if ( import_results.added || import_results.skipped || import_results.updated ||import_results.missing ) {
		importResults.display = true;
		importResults.data = import_results;
		if ( importResults.data.import_type ) {
			if ( importResults.data.import_type === 'master' ) {
				importResults.import_type = 'Master Member Sheet Import';
			} else {
				importResults.import_type = 'Tiermaker Import';
			}
		}
	}
%>

<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5">
		<h2>Combines Management</h2>
		<p class="lead">
			These are the controls and settings for combine management.
		</p>
		<%
			if ( importResults.display ) {
		%>
		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
			</symbol>
			<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</symbol>
		</svg>
		<div class="row">
			<div class="col-7 mx-auto">
				<div class="alert alert-success d-flex align-items-center">
					<div class="bi flex-shrink-0 me-2">
						<svg class="bi flex-shrink-0 me-2" width="48" height="48" role="img" aria-label="Warning:">
							<use xlink:href="#exclamation-triangle-fill"/>
						</svg>
					</div>
					<div class="flex-fill">
						<div class="h4 alert-heading">
							<%- importResults.import_type ?? 'None'; %>
						</div>
						<hr>
						<table class="table table-sm table-success lead">
							<tbody>
								<tr>
									<td class="text-end ">
										Added
									</td>
									<td class="fw-bolder w-75">
										<%- importResults.data.added ?? 'N/A'; %>
									</td>
								</tr>
								<tr>
									<td class="text-end ">
										Updated
									</td>
									<td class="fw-bolder w-75">
										<%- importResults.data.updated ?? 'N/A'; %>
									</td>
								</tr>
								<tr>
									<td class="text-end ">
										Skipped
									</td>
									<td class="fw-bolder w-75">
										<%- importResults.data.skipped ?? 'N/A'; %>
									</td>
								</tr>
								<tr>
									<td class="text-end text-danger fw-bolder">
										Missing 
									</td>
									<td class="fw-bolder w-75 text-danger">
										<%- importResults.data.missing ?? 'N/A'; %>
										(Not in player database)
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<%
			}
		%>
	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Active Leagues</span>
			</h4>

			<div class="text-end mb-3">
				<a
					href="/import_players/<%= tiermaker_sheet_id; %>?return=combines/manage"
					class="btn btn-success form-control text-start <%- load_sheet_disabled ? 'disabled' : ''; %>"
				>
					<i class="fas fa-table"></i>
					Step #1 - Import Master Member Sheet
				</a>
			</div>
			<div class="text-end mb-3">
				<a
					href="/combines/import/<%= tiermaker_sheet_id; %>?return=combines/manage"
					class="btn btn-success form-control text-start <%- load_sheet_disabled ? 'disabled' : ''; %>"
				>
					<i class="fas fa-table"></i>
					Step #2 - Load Tiermaker
				</a>
			</div>

			<ul class="list-group mb-3">

				<%
					for ( const tier in tiers ) {
						if ( tier === 'all' ) {
							continue;
						}
				%>

				<li class="list-group-item">
					<div class="row">
						<div class="col-8">
							<div class="h5 text-end"><%- tier; %></div>
						</div>
						<div class="col-4 text-success">
							<span class="fw-bold h5"><%= tiers[tier]; %></span>
							<span class="text-muted">players</span>
						</div>
					</div>
				</li>

				<%
					}
				%>
				
				<!-- <li class="list-group-item d-flex justify-content-between">
					<span>PermFA</span>
					<strong>86</strong>
				</li> -->

				<li class="list-group-item">
					<div class="row">
						<div class="col-8">
							<div class="h5 text-end">Total Players</div>
						</div>
						<div class="col-4">
							<span class="h5 text-primary"><%= tiers['all'] %></span>
						</div>
					</div>
				</li>
				
			</ul>

			
		</div>

		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">League Combines Settings</h4>
			
			<form class="needs-validation" novalidate action="/combines/manage" method="post">

			<div class="mb-3">
				<label for="season">Season</label>
				<div class="input-group">
					<input type="text" class="form-control" name="season" id="season" placeholder="season" value="<%= combines.season %>" required>
					<div class="invalid-feedback" style="width: 100%;">
						Season is required
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="tiermaker_url">Tiermaker Sheet URL</label>
				<div class="input-group">
					<input type="text" class="form-control" name="tiermaker_url" id="tiermaker_url" placeholder="tiermaker_url" value="<%= combines.tiermaker_url %>">
				</div>
			</div>
			
			<div class="mb-3">
				<label for="k_factor">K-Factor</label>
				<div class="input-group">
					<input type="number" class="form-control" name="k_factor" id="k_factor" placeholder="K-Factor" value="<%= combines.k_factor; %>">
				</div>
			</div>

			<div class="mb-3">
				<label for="min_series">Min Series</label>
				<div class="input-group">
					<input type="number" class="form-control" name="min_series" id="min_series" placeholder="Number of required series" value="<%= combines.min_series; %>">
				</div>
			</div>

			<hr class="mb-4">
		
			<h5>Preseason?</h5>
			<p>
				If you mark this checkbox, it will put all of the software in "Combines Mode", hiding 
				MMRs and using the <code>combineDays</code> data-set. Only turn this on at the start of the 
				offseason and off when the normal season begins.
			</p>
			<div class="custom-control custom-checkbox">
				<input 
					type="checkbox" 
					class="custom-control-input" 
					name="active" id="active" 
					<%- combines.active ? 'checked="checked"' : '' %>>
				<label class="custom-control-label" for="active">Combine Offseason?</label>
			</div>
			
			<h5>Combines Currently Active?</h5>
			<p>
				This checkbox will prevent signups unless you are actively running games.
				Turn this on at 7:50ish and off when you're done for the evening.
			</p>
			<div class="custom-control custom-checkbox">
				<input 
					type="checkbox" 
					class="custom-control-input" 
					name="live" id="live" 
					<%- combines.live ? 'checked="checked"' : '' %>>
				<label class="custom-control-label" for="live">Are Combines CURRENTLY (8pm - 11pm) Active?</label>
			</div>
			<hr class="mb-4">
			
			<h5>Public Numbers?</h5>
			<p>
				When checked, Numbers information will be shown to all users. Nothing will be hidden, 
				and they'll know exactly where they stand and will be able to track their record and progress.
			</p>
			<div class="custom-control custom-checkbox">
				<input 
					type="checkbox" 
					class="custom-control-input" 
					name="public_numbers" id="public_numbers" 
					<%- combines.public_numbers ? 'checked="checked"' : '' %>>
				<label class="custom-control-label" for="public_numbers">Show Numbers/MMRs to all players?</label>
			</div>
			<hr class="mb-4">
			
			<button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Update Combine Settings</button>
			
			</form>
		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>
