<%

	function ucfirst(str) {
		return str.charAt(0).toUpperCase() + str.slice(1);
	}

%>

<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5">
		<h2>Combines Management</h2>
		<p class="lead">
			These are the controls and settings for combine management.
		</p>
	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Active Leagues</span>
			</h4>

			<div class="text-end mb-3">
				<a href="/combines/import/<%= tiermaker_sheet_id; %>" class="btn btn-success">
					Load Tiermaker
				</a>
			</div>

			<ul class="list-group mb-3">

				<%
					for ( const tier in tiers ) {
						if ( tier === 'all' ) {
							continue;
						}
				%>

				<li class="list-group-item">
					<div class="row">
						<div class="col-8">
							<div class="h5 text-end"><%- tier; %></div>
						</div>
						<div class="col-4 text-success">
							<span class="fw-bold h5"><%= tiers[tier]; %></span>
							<span class="text-muted">players</span>
						</div>
					</div>
				</li>

				<%
					}
				%>
				
				<!-- <li class="list-group-item d-flex justify-content-between">
					<span>PermFA</span>
					<strong>86</strong>
				</li> -->

				<li class="list-group-item">
					<div class="row">
						<div class="col-8">
							<div class="h5 text-end">Total Players</div>
						</div>
						<div class="col-4">
							<span class="h5 text-primary"><%= tiers['all'] %></span>
						</div>
					</div>
				</li>
				
			</ul>

			
		</div>

		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">League Combines Settings</h4>
			
			<form class="needs-validation" novalidate action="/combines/manage" method="post">

			<div class="mb-3">
				<label for="season">Season</label>
				<div class="input-group">
					<input type="text" class="form-control" name="season" id="season" placeholder="season" value="<%= combines.season %>" required>
					<div class="invalid-feedback" style="width: 100%;">
						Season is required
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="tiermaker_url">Tiermaker Sheet URL</label>
				<div class="input-group">
					<input type="text" class="form-control" name="tiermaker_url" id="tiermaker_url" placeholder="tiermaker_url" value="<%= combines.tiermaker_url %>">
				</div>
			</div>
			
			<div class="mb-3">
				<label for="k_factor">K-Factor</label>
				<div class="input-group">
					<input type="number" class="form-control" name="k_factor" id="k_factor" placeholder="K-Factor" value="<%= combines.k_factor; %>">
				</div>
			</div>

			<div class="mb-3">
				<label for="min_series">Min Series</label>
				<div class="input-group">
					<input type="number" class="form-control" name="min_series" id="min_series" placeholder="Number of required series" value="<%= combines.min_series; %>">
				</div>
			</div>

			<hr class="mb-4">
		
			<h5>Combines Status</h5>
			<div class="custom-control custom-checkbox">
				<input 
					type="checkbox" 
					class="custom-control-input" 
					name="active" id="active" 
					<%- combines.active ? 'checked="checked"' : '' %>>
				<label class="custom-control-label" for="active">Are Combines Active?</label>
			</div>
			
			<hr class="mb-4">
			
			<button class="btn btn-primary btn-lg btn-block" type="submit">Update Combine Settings</button>
			
			</form>
		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>
