
<%- include('partials/header.ejs'); %>

<main class="container mt-2 p-2">
	<div class="bg-dark p-2 rounded">
		<h1>Development League Match Info</h1>
		<p class="lead">
			Please find the lobby information provided below. If you have any questions or problems, please ask for help
			in <a href="https://discord.com/channels/395806681994493964/1013519443684511834">#dev-league</a>.
		</p>
		<p>
			Games must start promptly at <strong>8:00</strong>. The home team is responsible for creating the lobby. The Away Team is responsible 
			for <a href="https://www.rocketsoccarconfederation.com/replay-and-screenshot-uploads/">uploading replays and screenshots</a> to the RSC Website.
		</p>
		<div class="row">
			<div class="col-9">
				<div class="bg-dark p-2 rounded">
					<h2>
						<span class="<%= tier; %>"><%= tier; %></span> Lobby Info
					</h2>
					<p class="lead">This is a <strong>4-game</strong> series.</p>

					<ul>
						<li>Tier: <strong class="<%= tier; %>"><%= tier %></strong></li>
						<li>Lobby Username: <strong><%= lobby_user %></strong></li>
						<li>Lobby Password: <strong><%= lobby_pass %></strong></li>
					</ul>

					<% 
						const teamOneMmr = Math.round((players[0].mmr + players[1].mmr + players[2].mmr) / 3);
						const teamTwoMmr = Math.round((players[3].mmr + players[4].mmr + players[5].mmr) / 3);
						const homeDelta  = teamOneMmr - teamTwoMmr;
						const homeDeltaAbs = Math.abs(homeDelta);

						const prediction = [];
						const win_prediction = homeDelta > 0 ? 'Home' : 'Away';
						let magnitude = '';
						if ( homeDeltaAbs >= 5 && homeDeltaAbs < 10 ) {
							magnitude = 'slight';
						} else if ( homeDeltaAbs >= 10 && homeDeltaAbs < 20 ) {
							magnitude = 'large';
						} else if ( homeDeltaAbs >= 20 && homeDeltaAbs <= 40 ) {
							magnitude = 'massive';
						} else if ( homeDeltaAbs >= 40 ) {
							magnitude = 'overwhelming';
						}
						
						if ( is_admin || is_devleague_admin ) {
							if ( magnitude ) {
					%> 
					<h3 class="p-2 text-center <%- win_prediction === 'Home' ? 'bg-primary text-white' : 'bg-warning text-black'; %>">
						<%- win_prediction; %> has a <em><%- magnitude; %></em> predicted advantage.
						<span class="text-muted">+<%- homeDeltaAbs; %></span>
					</h3>
					<%
							} else {
					%>

					<h3 class="p-2 text-center bg-secondary">
						No team has a statistical advantage.
						<span class="text-muted">+<%- homeDeltaAbs; %></span>
					</h3>
					<%
							}
						}
					%>
					<form action="/score/<%- match_id %>" method="post">
					<div class="row">
						<div class="col-md-6">
							<h3 class="bg-primary text-white rounded p-2">
								<%= (is_admin||is_devleague_admin) ? `[${teamOneMmr}]` : '' %>
								Home Team - <%= lobby_user %>
							</h3>
							<%
								let homeClass = 'bg-info';
								let awayClass = 'bg-info';
								if ( has_scored ) {
									if ( home_wins > 2 ) {
										homeClass = 'bg-success';
									} else if ( home_wins < 2 ) {
										homeClass = 'bg-danger';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- homeClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- home_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored || (is_admin || is_devleague_admin) ) {
							%>
							<div class="mb-3">
								<label for="name">Home Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control text-white"
										name="home_wins"
										id="home_wins"
										placeholder="2"
										value="<%- home_wins %>"
										max="4"
										tabindex="1"
										style="background-color:#000f1e;"
										required
									>
								</div>
							</div>
							<% 
								}
							%>
							<ul style="list-style: none;">
								<li>
									<img
										src="/icons/<%- players[0].tier.toLowerCase(); %>.png"
										title="<%- players[0].tier; %>"
										style=""
										height="16"
										alt="<%- players[0].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[0].team_id; %>/sub/<%- players[0].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[0].mmr; %></span>)
									<%
										}
									%>
									<strong>
									<a href="/player/<%= players[0].rsc_id; %>"><%= players[0].name %></a>
									</strong> 
									[Makes lobby]
								</li>
								<li>
									<img
										src="/icons/<%- players[1].tier.toLowerCase(); %>.png"
										title="<%- players[1].tier; %>"
										style=""
										height="16"
										alt="<%- players[1].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[1].team_id; %>/sub/<%- players[1].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[1].mmr; %></span>)
									<%
										}
									%>
									<a href="/player/<%= players[1].rsc_id; %>"><%= players[1].name %></a>
								</li>
								<li>
									<img
										src="/icons/<%- players[2].tier.toLowerCase(); %>.png"
										title="<%- players[2].tier; %>"
										style=""
										height="16"
										alt="<%- players[2].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[2].team_id; %>/sub/<%- players[2].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[2].mmr; %></span>)
									<%
										}
									%>
									<a href="/player/<%= players[2].rsc_id; %>"><%= players[2].name %></a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3 class="bg-warning rounded p-2">
								<%= (is_admin||is_devleague_admin) ? `[${teamTwoMmr}]` : '' %>
								Away Team - <%= lobby_pass %>
							</h3>
							<%
								if ( has_scored ) {
									if ( away_wins > 2 ) {
										awayClass = 'bg-success';
									} else if ( away_wins < 2 ) {
										awayClass = 'bg-danger';
									}
							%>
							<h3 class="text-center m-4">
								<span class="<%- awayClass; %> bg-opacity-50 m-4 p-3 border rounded">
									<%- away_wins; %>
								</span>
							</h3>
							<% 
								}

								if ( ! has_scored || (is_admin || is_devleague_admin) ) {
							%>
							<div class="mb-3">
								<label for="name">Away Team Series Score</label>
								<div class="input-group">
									<input
										type="number"
										class="form-control text-white"
										name="away_wins"
										id="away_wins"
										placeholder="2"
										value="<%- away_wins %>"
										tabindex="2"
										max="4"
										style="background-color:#000f1e;"
										required
									>
									<input
										type="submit"
										class="btn btn-large btn-outline-success fw-bolder"
										value="Submit Scores"
										tabindex="3"
									>
								</div>
							</div>
							<%
								}
							%>
							<ul style="list-style:none;">
								<li>
									<img
										src="/icons/<%- players[3].tier.toLowerCase(); %>.png"
										title="<%- players[3].tier; %>"
										style=""
										height="16"
										alt="<%- players[3].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[3].team_id; %>/sub/<%- players[3].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[3].mmr; %></span>)
									<%
										}
									%>
									<strong>
									<a href="/player/<%= players[3].rsc_id; %>"><%= players[3].name %></a>
									</strong> 
									[Uploads replays/screenshots]
								</li>
								<li>
									<img
										src="/icons/<%- players[4].tier.toLowerCase(); %>.png"
										title="<%- players[4].tier; %>"
										style=""
										height="16"
										alt="<%- players[4].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[4].team_id; %>/sub/<%- players[4].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[4].mmr; %></span>)
									<%
										}
									%>
									<a href="/player/<%= players[4].rsc_id; %>"><%= players[4].name %></a>
								</li>
								<li>
									<img
										src="/icons/<%- players[5].tier.toLowerCase(); %>.png"
										title="<%- players[5].tier; %>"
										style=""
										height="16"
										alt="<%- players[5].tier; %> icon"
									>
									<% 
										if ( is_admin || is_devleague_admin ) {
									%>
									<a
										href="/match/<%- players[5].team_id; %>/sub/<%- players[5].player_id; %>"
										class="text-success"
									><i class="fas fa-recycle"></i></a>
									(<span class="text-muted"><%- players[5].mmr; %></span>)
									<%
										}
									%>
									<a href="/player/<%= players[5].rsc_id; %>"><%= players[5].name %></a>
								</li>
							</ul>
						</div>
					</div>
					</form>
						
				</div>
			</div>
		</div>
	</div>

	<hr class="mb-4">
	<% if ( is_admin ) { %>
	<pre><%- JSON.stringify(players, undefined, 4); %></pre>
	<% } %>

</main>

<%- include('partials/footer.ejs'); %>
