<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5">
		<h2><%- rsc_id %> MMR Pulls</h2>
		<p class="lead">
			Please review the MMR information for <%= rsc_id; %> below.
		</p>

	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-end align-items-center mb-3">
				<span class="ms-2 text-light w-50">MMR Stats</span>
			</h4>

			<ul style="background-color:#000f1e;" class="list-group mb-3 text-light">
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">RSC ID</h6>
					</div>
					<span class="ms-2 text-light w-50"><%- rsc_id; %></span>
				</li>
			</ul>

			<h6 class="text-warning"><i class="fas fa-lock me-2"></i> Other Formats</h6>
			<ul style="background-color:#000f1e;" class="list-group mb-3 text-light">
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">CSV</h6>
					</div>
					<span class="ms-2 text-light w-50 Veteran">
						<a
							href="/mmr/<%= rsc_id; %>?csv"
							class="Veteran"
						>Download CSV</a>
					</span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">JSON</h6>
					</div>
					<span class="ms-2 text-light w-50 Veteran">
						<a
							href="/mmr/<%= rsc_id; %>?json"
							class="Veteran"
						>View JSON</a>
					</span>
				</li>
			</ul>

		</div>

	</div>

	<div class="row">
		<div class="col-12">
			<h4 class="mb-3">MMR Pulls</h4>
			<div class="mb-3">
				<%
				%>
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th scope="col">Season</th>
							<th scope="col">Tracker</th>
							<th scope="col">RSC ID</th>
							<th scope="col">3s GP</th>
							<th scope="col">3s MMR</th>
							<th scope="col">3s Peak</th>
							<th scope="col">2s GP</th>
							<th scope="col">2s MMR</th>
							<th scope="col">2s Peak</th>
							<th scope="col">1s GP</th>
							<th scope="col">1s MMR</th>
							<th scope="col">1s Peak</th>
							<th scope="col">Pull Date</th>
							<th scope="col">Pulled By</th>
						</tr>
					</thead>
					<tbody>
					<%
						if ( results.length ) {
							let row_class = 'table-info';
							for ( let i = 0; i < results.length; ++i ) {
								const pull = results[i];
								const short_link = pull.tracker_link.split('profile/')[1].replace('/overview', '');
								if ( pull.psyonix_season != cur_season ) {
									if ( cur_season !== 0 ) {
										row_class = 'table-primary';
									}
									cur_season = pull['Psyonix Season'];
								} else {
									row_class = '';
								}
					%>
						<tr class="<%- row_class; %>">
							<td><%= pull.psyonix_season; %></td>
							<td><a href="<%- pull.tracker_link; %>"><%= short_link; %></a></td>
							<td><%= pull.rsc_id; %></td>
							<td><%= pull.gp_3s; %></td>
							<td><%= pull.mmr_3s; %></td>
							<td><%= pull.peak_3s; %></td>
							<td><%= pull.gp_2s; %></td>
							<td><%= pull.mmr_2s; %></td>
							<td><%= pull.peak_2s; %></td>
							<td><%= pull.gp_1s; %></td>
							<td><%= pull.mmr_1s; %></td>
							<td><%= pull.peak_1s; %></td>
							<td><%= pull.date_pulled.toLocaleString(); %></td>
							<td><%= pull.pulled_by; %></td>
						</tr>
					<%
							}
						} else {
					%> 
						<tr>
							<td colspan="14" scope="row"><em>No pulls for this player.</em></td>
						</tr>
					<%
						}
					%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.ejs'); %>
