
<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5">
		<h2><%- player.rsc_id %>: <%= player.name %></h2>
		<p class="lead">
			Please review the MMR information for <%= player.name %> below.
		</p>
		
	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-end align-items-center mb-3">
				<span class="ms-2 text-muted w-50">MMR Stats</span>
			</h4>

			<ul style="background-color:#000f1e;" class="list-group mb-3 text-light">
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Player Name</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%= player.name; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">RSC ID</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.rsc_id; %></span>
				</li>
				<%
					if ( player && player.combines.length ) {
				%>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Combines Matches</h6>
					</div>
					<span class="ms-2 text-muted w-50">
						<a href="/combine/matches/<%- player.rsc_id; %>">Season <%= combines.season; %></a>
					</span>
				</li>

				<%
					}
				%>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<h6 class="my-0 text-light text-end">Current Tier </h6>
					<span class="ms-2 w-50 fw-bolder <%- player.tier; %>">
						<img src="/icons/<%- player.tier.toLowerCase(); %>.png" height="18">
						<%= player.tier; %>
					</span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Contract Status</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%= player.status; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Current RSC MMR</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.mmr; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Total Pulls</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.pulls.length; %></span>
				</li>
			</ul>
		</div>

		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">Trackers</h4>
			<div class="mb-3">
				<ul>
				<%
					if ( Object.keys(player.trackers).length ) {
						for ( let tracker_link in player.trackers ) {
							let tracker = player.trackers[ tracker_link ];
				%>
					<li class="<%- tracker.registered ? 'registered' : 'unregistered'; %>">
						[<strong><%- tracker.pulls %></strong>]
						<a href="<%- tracker_link %>"><%- tracker_link %></a> 
					</li>
				<%
						}
					} else {
				%>
					<li>
						<em>No trackers on file.</em>
					</li>
				<%
					}
				%>
				</ul>
			</div>
		</div>
	</div>

	<%
		if ( combines.live ) {

	%>

	<h3>Season <%- combines.season; %> Combines</h3>
	<div class="row">
		<div class="col-md-4  mb-4 text-light">
			<h4 class="d-flex justify-content-end align-items-center mb-3">
				<span class="ms-2 text-muted w-50">Overall</span>
			</h4>

			<ul style="background-color:#000f1e;" class="list-group mb-3">
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Player Name</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%= player.name; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">RSC ID</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.rsc_id; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Combines Tier</h6>
					</div>
					<span class="ms-2 w-50 fw-bolder <%- player.tier; %>">
						<img src="/icons/<%- player.tier.toLowerCase(); %>.png" height="18">
						<%= player.tier; %>
					</span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Contract Status</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%= player.status; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Current RSC MMR</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.mmr; %></span>
				</li>
				<li style="background-color:#000f1e;" class="list-group-item d-flex justify-content-end lh-condensed">
					<div>
						<h6 class="my-0 text-light text-end">Total Pulls</h6>
					</div>
					<span class="ms-2 text-muted w-50"><%- player.pulls.length; %></span>
				</li>
			</ul>
		</div>
		<div class="col-8">
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<td>Wins</td>
						<td>Losses</td>
						<td>Date</td>
						<td>Wins</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			
		</div>
	</div>

	<% 
		}
	%>

	<div class="row">
		<div class="col-12">
			<h4 class="mb-3">MMR Pulls</h4>
			<div class="mb-3">
				<%
				%>
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th scope="col">Season</th>
							<th scope="col">Date</th>
							<th scope="col">Tracker</th>
							<th scope="col">3s GP</th>
							<th scope="col">3s MMR</th>
							<th scope="col">3s Peak</th>
							<th scope="col">2s GP</th>
							<th scope="col">2s MMR</th>
							<th scope="col">2s Peak</th>
							<th scope="col">1s GP</th>
							<th scope="col">1s MMR</th>
							<th scope="col">1s Peak</th>
						</tr>
					</thead>
					<tbody>
					<%
						if ( player.pulls.length ) {
							let cur_season = 0;
							let row_class = 'table-info';
							for ( let i = 0; i < player.pulls.length; ++i ) {
								const pull = player.pulls[i];
								const short_link = pull.tracker_link.split('profile/')[1].replace('/overview', '');
								if ( pull.season != cur_season ) {
									if ( cur_season !== 0 ) {
										row_class = 'table-primary';
									}
									cur_season = pull.season;
								} else {
									row_class = '';
								}
					%>
						<tr class="<%- row_class; %>">
							<td><%= pull.season %></td>
							<td><%= pull.date_pulled.toLocaleString(); %></td>
							<td><a href="<%- pull.tracker_link; %>"><%= short_link; %></a></td>
							<td><%- pull.gp_3s; %></td>
							<td><%- pull.mmr_3s; %></td>
							<td><strong><%- pull.peak_3s; %></strong></td>
							<td><%- pull.gp_2s; %></td>
							<td><%- pull.mmr_2s; %></td>
							<td><strong><%- pull.peak_2s; %></strong></td>
							<td><%- pull.gp_1s; %></td>
							<td><%- pull.mmr_1s; %></td>
							<td><strong><%- pull.peak_1s; %></strong></td>
						</tr>
					<%
							}
						} else {
					%> 
						<tr>
							<td colspan="12" scope="row"><em>No pulls for this player.</em></td>
						</tr>
					<%
						}
					%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.ejs'); %>
