
<%- include('partials/header.ejs'); %>

<% 

	const changeTier = {
		Premier: {
			up: 'Premier',
			down: 'Elite',
		},
		Elite: {
			up: 'Premier',
			down: 'Veteran',
		},
		Veteran: {
			up: 'Elite',
			down: 'Rival',
		},
		Rival: {
			up: 'Veteran',
			down: 'Challenger',
		},
		Challenger: {
			up: 'Rival',
			down: 'Prospect',
		},
		Prospect: {
			up: 'Challenger',
			down: 'Contender',
		},
		Contender: {
			up: 'Prospect',
			down: 'Contender',
		},
	};

	function ucfirst(str) {
		return str.charAt(0).toUpperCase() + str.slice(1);
	}

	let tiers = {};
	let advertiseText = '';

	for ( let tierName in settings ) {
		if ( tierName == 'season' ) {
			continue;
		}

		if ( settings[tierName] === 1 ) {
			tiers[ tierName ] = 6;
		}

		if ( ucfirst(tierName) in signups && signups[ucfirst(tierName)]['fa'].length ) { 
			let player_count = parseInt((signups[ucfirst(tierName)]['fa'].length));

			// 6, 12, 18, 24, 30, 36
			if ( player_count < 6 ) {
				tiers[ tierName ] = 6 - player_count;
			} else if ( player_count < 12 ) {
				tiers[ tierName ] = 12 - player_count;
			} else if ( player_count < 18 ) {
				tiers[ tierName ] = 18 - player_count;
			} else if ( player_count < 24 ) {
				tiers[ tierName ] = 24 - player_count;
			} else if ( player_count < 30 ) {
				tiers[ tierName ] = 30 - player_count;
			}
		}
	}

	for ( let tierName in tiers ) {
		if ( tiers[tierName] == 6 ) {
			continue;
		}
		advertiseText += `**${ucfirst(tierName)}**: Needs ${tiers[tierName]} more.\n`;
	}
	advertiseText += "\nhttps://devleague.rscstream.com";
%> 

<main class="container">
	<div class="py-5">
		<h2>Dev League Match Day Setup</h2>
		<p class="lead">
			These are the controls to process the match day setup. Please try and complete this around 8:00PM
			on Monday nights.
		</p>
		<p class="lead">
			Each tier will need multiples of 6 players to have valid games for each night. Free Agents are prioritized
			in building teams, but contract players that sign up as a sub can be added to teams after team generation.
		</p>
	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Available Subs</span>
				<a href="/activate_everyone/<%= match_day %>" class="btn btn-primary">Activate EVERYONE!</a>
			</h4>

			<%

			%>
			<textarea id="advertise"><%= advertiseText %></textarea>
			<button type="button" class="btn btn-primary" onclick="navigator.clipboard.writeText(document.getElementById('advertise').value);">Copy Ad to Clipboard</button>


			<ul class="list-group mb-3">

				<% 
					for ( let tier in settings ) { 
						if ( tier == 'season' ) {
							continue;
						}
						tier = tier.charAt(0).toUpperCase() + tier.slice(1);
						if ( ! ( tier in signups ) )  {
							continue;
						}
				%>

				<li class="list-group-item justify-content-between lh-condensed">
					<div>
						<h6 class="my-0"><%= tier %></h6>
						
					<% if ( signups[tier]['sub'].length ) { %>

						<ul class="mb-3">

						<% 
							for ( let i = 0; i < signups[tier]['sub'].length; i++ ) {
								let player = signups[tier]['sub'][i]; 
						%>
						
							<li class="list-group-item d-flex justify-content-between lh-condensed">
								<div>
									<h6 class="my-0"><%= player['name'] %></h6>
									<small class="text-muted"><%= player['status'] %> - <a href="/make_active/<%= player['id'] %>">Activate Sub</a></small>
								</div>
								<span class="text-muted"><%= player['mmr'] %> MMR</span>
							</li>
						<% } %>

						</ul>

					<% } else { // end of sub check %>
						<em>No Free Agents for this Tier</em>
					<% } %>
					</div>
				</li>

				<% } %>

			</ul>
		</div>

		<!-- primary FA signup / team generation -->
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">Signups By Tier</h4>
			
			<%
				let tierList = Object.keys(settings).reverse();
				for ( let i = 0; i < tierList.length; ++i ) { 
					const tier = tierList[i];
					if ( tier == 'season' ) {
						continue;
					}

					tier = tier.charAt(0).toUpperCase() + tier.slice(1);
					if ( ! ( tier in signups ) )  {
						continue;
					}
			%>

			<div class="mb-3">
				<h5><%= tier %></h5>

				<% 
				let teamsBuilt = signups[tier]['fa'].length ? signups[tier]['fa'].filter(p => p.rostered ).length / 3 : null;
				if ( signups[tier]['fa'].length ) { 
					let player_count = (signups[tier]['fa'].length) - (teamsBuilt * 3);
					if ( (player_count % 6 === 0) && ! teamsBuilt ) {
						// has enough players for team generation


				%>
				<form class="card p-2" method="post" action="/generate_team/<%= tier %>">
					<input type="hidden" name="player_count" id="<%= tier %>_player_count" value="<%= signups[tier]['fa'].length %>">
					<input type="hidden" name="season" id="<%= tier %>_season" value="<%= signups[tier]['season'] %>">
					<input type="hidden" name="match_day" id="<%= tier %>_match_day" value="<%= signups[tier]['match_day'] %>">
					
					<% 
						for ( let i = 0; i < signups[tier]['fa'].length; i++ ) {
							if ( signups[tier]['fa'][i].rostered ) {
								continue; // skip players on an FA league team already
							}
							let player = signups[tier]['fa'][i]; 
					%>
							
							<input type="hidden" name="player_id_<%= i %>" value="<%= player['player_id'] %>">
					<% 
						}
					%>
					<div class="input-group">
						<button type="submit" class="btn btn-primary">Generate <%= tier %> Teams</button>
					</div>
				</form>
				<%
					} else {
						// does not have enough players for team generation
				%>
				<form class="card p-2" action="#">
					<div class="input-group">
						<button type="submit" class="btn btn-secondary" disabled>Generate <%= tier %> Teams [<%= player_count %>/6]</button>
						<% if ( teamsBuilt ) { %>
						<span class="text-muted m-2"><%= teamsBuilt %> Teams Generated</span>
						<% } %>
						<input type="hidden" id="<%= tier %>_advertisement" value="RSC Dev League needs **<%= tiers[ tier.toLowerCase() ] %>** more <%= tier %> signups -- https://devleague.rscstream.com">
						<button type="button" class="btn btn-primary" onclick="navigator.clipboard.writeText(document.getElementById('<%= tier %>_advertisement').value);">Copy Ad</button>
					</div>
				</form>
				<%		
					}
				%>
				<ul class="list-group mb-3">

					<% 
						for ( let i = 0; i < signups[tier]['fa'].length; i++ ) {
							if ( signups[tier]['fa'][i].rostered ) {
								continue; // skip players on an FA league team already
							}
							let player = signups[tier]['fa'][i]; 
					%>

					<li class="list-group-item d-flex lh-condensed">
						<div style="width:32px;">
							<a href="/change_tier/<%= player['rsc_id'] %>/<%= changeTier[ tier ]['up'] %>"
								title="Move <%= player['name']; %> to <%= changeTier[tier]['up']; %>">
							⬆️
							</a>
							<a href="/change_tier/<%= player['rsc_id'] %>/<%= changeTier[ tier ]['down'] %>"
								title="Move <%= player['name']; %> to <%= changeTier[tier]['down']; %>">
							⬇️
							</a>
						</div>
						<div>
							<h6 class="my-0"><%= player['name'] %></h6>
							<small class="text-muted"><%= player['status'] %> - <a href="/make_inactive/<%= player['id'] %>">Deactivate Sub</a></small>
						</div>
						<div class="ms-auto text-muted"><%= player['mmr'] %> MMR</div>
					</li>

					<% } // end of player for loop %>

				</ul>

				<% } // end of signups check %>

			</div>

			<% } // end of tier loop %>

		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>
