
<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5">
		<h2>RSC Tournaments</h2>
		<p class="lead">
			Below is a list of all active and upcoming RSC tournaments.
		</p>
	</div>

	<div class="row">
		<!-- <div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Available Subs</span>
				<span class="badge badge-secondary badge-pill">3</span>
			</h4>
		</div> -->

		<!-- primary FA signup / team generation -->
		<div class="col-md-8 order-md-1">

			<%
				for ( let key in tournaments ) {
					if ( Object.keys(tournaments[key]).length === 0 ) {
						continue;
					}
					const niceKey = key[0].toUpperCase() + key.slice(1);

			%>
			<h4 class="mb-3"><%= niceKey %></h4>
			<ul class="list-group mb-3">

			<%	
					for ( let t_id in tournaments[key] ) {
						const tourney = tournaments[key][ t_id ];
			%>
				<li class="list-group-item d-flex justify-content-between 1h-condensed">
					<div>
						<h5 class="my-0"><%= tourney['title']; %></h5>
						<h6 class="my-0 text-muted"><%= tourney['start_dtg']; %></h6>
					</div>
					<a href="/tournament/<%= t_id; %>">View Tournament</a>
				</li>
			<%
					}
			%>
			</ul>
			<%		
				}
			%>

		</div>
	</div>

</main>

<%- include('partials/footer.ejs'); %>
