<%

	let league_url = '_3s';
	let league_id = 3;

	if ( league === '2s' ) {
		league_url = '_2s';
		league_id = 2;
	}

%>

<%
	let total = 0;
	let pct = 0;
	let wins = 0;
	let losses = 0;
	if ( user && user.combines.active ) {
		wins = user.combines.wins;
		losses = user.combines.losses;
		total = wins + losses;
		if ( total ) {
			pct = ((wins / total) * 100).toFixed(1);
		}
	}
	if ( status === 'ready' ) {
		/*
				hx-get="/combine/dashboard?status=Game%- league_url; %"
				hx-trigger="load delay:2m"
				hx-swap="outerHTML"
		*/

%>

			<div 
				id="combines_checkin_actions<%- league_url; %>" 
			>
				<h2>Your Lobby is Ready!</h2>
				<p class="lead">
					Time to show your metal. Your lobby is ready to go. 
				</p>

				<% if ( combines.public_numbers ) { %>
				<p class="lead">
					Your current MMR is <strong class="fs-2 <%- getTierFromMMR(user.combines.current_mmr); %>"><%- user.combines.current_mmr; %></strong> and you 
					have a record of <strong class="text-success"><%- wins; %></strong>/<strong class="text-danger"><%- losses; %></strong> 
					[<%- total ? pct : 0; %>%]
				</p>
				<% } %>

				<a
					class="btn btn-lg btn-success"
					href="/combine/<%- user.combines.match.id; %>/<%- league_id; %>"
					role="button"
				>
					View Match Details
				</a>
				<script type="text/javascript">
					<!-- function playSound() { -->
					<!-- 	if ( DevLeague.in_game === false ) { -->
					<!-- 		var audio = new Audio('/sounds/match_ready.mp3'); -->
					<!-- 		audio.play(); -->
					<!-- 		DevLeague.in_game = true; -->
					<!-- 	} -->
					<!-- } -->
					<!-- setTimeout(playSound, 100); -->
				</script>
			</div>

<%
	} else if ( status === 'waiting') { 
		/*
				hx-get="/combine/dashboard?status=CheckedIn%- league_url; %"
				hx-trigger="load delay:1m"
				hx-swap="outerHTML"
		*/
%>

			<div 
				id="combines_checkin_actions<%- league_url; %>" 
			>
				<h2>You are checked in!</h2>
				<p class="lead">
					Lobbies are generated every 15-20 minutes. Stay at your computer and ready, as the lobbies could be 
					created at any time.
				</p>

				<% if ( combines.public_numbers ) { %>
				<p class="lead">
					Your current MMR is <strong class="fs-2 <%- getTierFromMMR(user.combines.current_mmr); %>"><%- user.combines.current_mmr; %></strong> and you 
					have a record of <strong class="text-success"><%- wins; %></strong>/<strong class="text-danger"><%- losses; %></strong> 
					[<%- total ? pct : 0; %>%]
				</p>
				<% } %>

				<a
					class="btn btn-lg btn-danger"
					href="/combine/check_out/<%= user.rsc_id; %>/<%- league_id; %>"
					role="button"
				>Check Out</a>
				<script type="text/javascript">
					DevLeague.in_game = false;
				</script>
			</div>

<%
	} else {
		if ( user.ban.id ) {
%>

			<div 
				id="combines_checkin_actions<%- league_url; %>" 
			>
				<h2>You Are Banned!</h2>
				<p class="lead">
					You were banned on <%- user.ban.created; %>. Please message 
					ModMail if you believe this to be in error. 
				</p>

				<div class="p-4 border mb-4">
					<h4>Banned By</h4>
					<%- user.ban.banned_by_name; %>
					<h4>Banned On</h4>
					<%- user.ban.created; %>
					<h4>Ban Reason</h4>
					<pre class="mb-0"><%- user.ban.note; %></pre>
				</div>
				<a
					class="btn btn-lg btn-danger disabled"
					href="#"
					role="button"
					id="checkInModal<%- league_url; %>"
				>You are banned!</a>
			</div>
<%
		} else {
%>

			<div 
				id="combines_checkin_actions<%- league_url; %>" 
			>

				<% if ( combines.public_numbers ) { %>
				<p class="lead">
					Your current MMR is <strong class="fs-2 <%- getTierFromMMR(user.combines.current_mmr); %>"><%- user.combines.current_mmr; %></strong> and you 
					have a record of <strong class="text-success"><%- wins; %></strong>/<strong class="text-danger"><%- losses; %></strong> 
					[<%- total ? pct : 0; %>%]
				</p>
				<% } %>

				<a
					class="btn btn-lg btn-primary"
					href="javascript:void(0);"
					role="button"
					id="checkInModal<%- league_url; %>"
				>Check In!</a>
				<script type="text/javascript">
					document.getElementById('checkInModal<%- league_url; %>').addEventListener('click', function() {
						document.getElementById('confirmCheckIn<%- league_url; %>').showModal();
					});

					document.getElementById('backOut<%- league_url; %>').addEventListener('click', function() {
						document.getElementById('confirmCheckIn<%- league_url; %>').close();
					});
				</script>
				<script type="text/javascript">
					<!-- function playSound() { -->
					<!-- 	if ( DevLeague.in_game === true ) { -->
					<!-- 		var audio = new Audio('/sounds/check_in_ready.mp3'); -->
					<!-- 		audio.play(); -->
					<!-- 		DevLeague.in_game = false; -->
					<!-- 	} -->
					<!-- } -->
					<!-- setTimeout(playSound, 100); -->
				</script>
			</div>

<%
		}
%>


<%
	}
%>
