<%
	let players_waiting = 0;
	if ( Object.keys(waiting_room).length ) {
		players_waiting = Object.keys(waiting_room).length;
	}
	const team_avail = Math.floor(players_waiting / 6)
	const remaining = players_waiting % 6;

	let load_delay = delay ? delay : 10;

	if ( load_delay < 10 ) {
		load_delay = 10;
	} else if (load_delay > 200) { 
		load_delay = 180;
	}

	const show_include = include_games ? include_games : false;
%>

<%
	if ( show_include ) {
%>
	<h4 id="active_games_count" hx-swap-oob="true">Active Games: <%- game_count; %>
		<button class="btn btn-primary btn-sm float-end fw-bolder">Show Active Games</button>
	</h4>
<%
	}
%>
			<div
				id="waiting_room_div"
				hx-get="/combines/process/waiting/<%- league; %>?delay=<%- load_delay; %>&last=<%- players_waiting; %>"
				hx-trigger="load delay:<%- load_delay; %>s"
				hx-swap="outerHTML"
			>
				<script type="text/javascript">
					if ( DevLeague.threshold < <%- team_avail; %> ) {
						setTimeout(DevLeague.playReady, 100);
					}

					if ( <%- include_games %> && <%- game_count === 0; %> ) {
						if ( DevLeague.game_count > 0 ) {
							DevLeague.game_count = 0;
							setTimeout(DevLeague.playBoop, 100);
						}
					} else if ( <%- game_count; %> && DevLeague.game_count !== <%- game_count; %> ) {
						DevLeague.game_count = <%- game_count; %>;
					}
					// <%- include_games ?? 'not passed'; %>, <%- game_count ?? 'not passed'; %> 

					// run our init script to handle library initialization for any content returned
					setTimeout(initialize_devleague, 10);
				</script>
				<h4 class="d-flex justify-content-between align-items-center mb-3 mt-4 mt-0 mt-md-0">
					<span class="text-muted">Waiting Room</span>
					<div class="h4 text-muted">
					
					<%
						if ( players_waiting ) {
					%>
						<%- team_avail > 0 ? '<span class="text-primary">' + team_avail + (team_avail == 1 ? ' team' : ' teams') + '</span>' : ''; 
						%><%- (remaining > 0 && team_avail > 0) ? ' + ' : ''; 
						%><%- remaining > 0 ? remaining + (remaining == 1 ? ' player' : ' players') : ''; %>
					<%
						}
					%>
					</div>
					<a
						href="/combines/activate/all/<%- league; %>"
						role="button"
						class="btn btn-outline-info fw-bold <%- players_waiting == 0 ? 'disabled' :''; %>"
						<%- players_waiting == 0 ? 'aria-disabled="true"' :''; %>
					>
						<span class="d-xl-inline d-lg-none d-none">&#10094;</span>
						<span class="d-xl-none d-lg-inline">&uarr;</span>
						<i class="fas fa-user-plus"></i>
						Add All
					</a>
				</h4>

				<div class="table-responsive" id="waiting_room_player_table">
					<table class="table table-hover table-dark">
						<thead>
							<tr class="border border-primary">
								<th></th>
								<th class="text-center">MMR</th>
								<th class="text-center">&Delta;</th>
								<th>Player</th>
								<th class="text-center">Record</th>
								<th class="text-center">W%</th>
								<th class="text-center">
									<a
										class="btn btn-danger btn-sm btn-icon"
										href="/combines/dequeue/ALL/<%- league; %>"
										hx-get="/combines/dequeue/ALL/<%- league; %>"
										hx-target="#waiting_room_player_table"
										hx-swap="delete"
										hx-confirm="Are you sure you want to remove EVERYONE?"
										title="Remove <strong>EVERYONE</strong> from the queue"
										data-bs-toggle="tooltip"
										data-bs-html="true"
									>
										<i class="fas fa-trash"></i>	
									</a>
								</th>
							</tr>
						</thead>
						<tbody>

						<% 
							const stat_colors = {
								'great': 'text-success',
								'ok': 'text-info',
								'neutral': 'text-warning',
								'bad': 'text-danger',
								'none': 'text-muted',
							};
							let analysis = 'none';
							let n = 0;
							let table_class = "table-success";
							if ( Object.keys(waiting_room).length ) {
								for ( const rsc_id in waiting_room ) {
									n++
									if ( n > 6 ) {
										table_class = table_class === 'table-info' ? 'table-success' : 'table-info';
										n = 1;
									}

									const p = waiting_room[rsc_id];
									if ( p.win_percentage > 60 ) {
										analysis = 'great';
									} else if ( p.win_percentage > 52 ) {
										analysis = 'ok';
									} else if ( p.win_percentage > 45 ) {
										analysis = 'neutral';
									} else if ( p.win_percentage > 20 ) {
										analysis = 'bad';
									} else {
										analysis = 'none';
									}

						%>
							<tr class="<%- table_class; %>" id="player_ready_<%- rsc_id; %>">
								<td class="p-0 text-center">
									<a href="/combines/activate/<%- rsc_id; %>/<%- league; %>" 
										class="move-arrow h4 p-0 px-2 mb-0" style=""
										title="Move player to ready room.">
										<span class="d-none d-xl-inline">&#10094;</span>
										<span class="d-inline d-xl-none">&#9786;</span>
										<!-- &#9754; -->
									</a>
								</td>
								<td class="text-center">
									<span class="text-primary fw-bold">
										<%= p.current_mmr; %>
									</span>
								</td>
								<td class="text-center">
									<span 
										class="fw-bold <%- 
											p.mmr_delta > 0 ? 
												'text-success' : 
												p.mmr_delta === 0 ? 
													'text-muted' : 'text-danger'; 
										%>"
										title="<%= p.effective_mmr; %>"
										>
										<%= p.mmr_delta; %>
									</span>
								</td>
								<td class="fw-bolder">
									<a href="/player/<%= rsc_id; %>"><%= p.name; %></a>
								</td>
								<td class="text-center">
									<span class="text-success fw-bold"><%= p.wins; %></span> /
									<span class="text-red fw-bold"><%= p.losses; %></span>
								</td>
								<td class="text-center">
									<span class="<%- stat_colors[analysis]; %> fw-bold">
										<%= p.win_percentage; %>%
									</span>
								</td>
								<td class="text-center">
									<a
										class="btn btn-danger btn-sm btn-icon"
										href="/combines/dequeue/<%= rsc_id; %>/<%- league; %>"
										hx-get="/combines/dequeue/<%- rsc_id; %>/<%- league; %>"
										hx-target="#player_ready_<%- rsc_id; %>"
										hx-swap="delete"
										hx-confirm="Are you sure you want to remove this player?"
										title="Remove <strong><%= p.name; %></strong> from the queue"
										data-bs-toggle="tooltip"
										data-bs-html="true"
									>
										<i class="fas fa-trash"></i>	
									</a>
								</td>
							</tr>

						<% 
								} // end of loop
							} else {
						%>

							<tr><td colspan="6"><em>Nobody is waiting in the queue.</em></td></tr>

						<%
							}
						%>

						</tbody>
					</table>
				</div>
			</div>

